RewriteEngine on
RewriteRule attachments/c-([^\.]+).jpg Main.php?do=headlinesGetImage&source=clipping&id=$1 [NC,L]
RewriteRule attachments/([^\/]+)/a-([^\.]+).jpg Main.php?do=headlinesGetImage&source=attachment&secondary=$1&id=$2 [NC,L]
