#rightColumn { 
	width: 1420px;
}
#wrapper { 
	width: 1625px;
}
#contentWrapper { 
	width: 1625px;
}
#header, #footer {
	width: 1630px;
}
#rightColumn p {
	width: 1020px;
}
#rightColumn fieldset p {
	width: 980px;
}