<?xml version="1.0" encoding="utf8"?>
<config>
	<system>
		<parameters>
			<debugMode>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</debugMode>
			<developmentMode>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</developmentMode>
			<mailCapture>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</mailCapture>
			<underMaintenance>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</underMaintenance>
			<maintenanceMessage>El sistema permanecerá en mantenimiento por 2 horas, por favor regrese mas tarde.</maintenanceMessage>
			<affiliateUserLoginUnified>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</affiliateUserLoginUnified>
			<applicationTimeZoneGMT>
				<value>-3</value>
				<element_type>TIMEZONE</element_type>
			</applicationTimeZoneGMT>
			<dateFormat>
				<value>d-m-Y</value>
				<element_type>Options</element_type>
				<element_options>
					<option_1>d-m-Y</option_1>
					<option_2>m-d-Y</option_2>
					<option_3>d-m-y</option_3>
					<option_4>m-d-y</option_4>
				</element_options>
			</dateFormat>
			<thousandsSeparator>.</thousandsSeparator>
			<decimalSeparator>,</decimalSeparator>
			<numberOfDecimals>2</numberOfDecimals>
			<siteName>Sistema</siteName>
			<siteDescription>Sistema de Gestión</siteDescription>
			<siteShortName>sistema</siteShortName>
			<webmasterMail>moddebugger@gmail.com</webmasterMail>
			<debugMail>moddebugger@gmail.com</debugMail>
			<fromEmail>moddebugger@gmail.com</fromEmail>
			<tablePrefix></tablePrefix>
			<news>Novedades: Bienvenido al Sistema</news>
			<affiliateNews>Novedades: Bienvenido al Sistema</affiliateNews>
		</parameters>
		<errorReporting>
			<value>E_ALL</value>
			<element_type>Options</element_type>
			<element_options>
				<option_1>NONE</option_1>
				<option_2>E_ALL</option_2>
				<option_3>E_ALL &amp; ~E_NOTICE</option_3>
				<option_4>E_ALL &amp; ~E_NOTICE ~E_WARNING</option_4>
				<option_5>E_STRICT</option_5>
			</element_options>
		</errorReporting>
		<rowsPerPage>25</rowsPerPage>
		<language>esp</language>
		<fileBrowser>
			<host>http://lideresparroquiales.org</host>
			<applicationPath></applicationPath>
			<directories>
				<dir_1>
					<title>Documentos</title>
					<path>files/documents</path>
				</dir_1>
				<dir_2>
					<title>Imágenes</title>
					<path>files/images</path>
				</dir_2>
			</directories>
		</fileBrowser>
	</system>
	<email>
		<mode>
			<value>SMTP</value>
			<element_type>Options</element_type>
			<element_options>
				<option_1>PHP</option_1>
				<option_2>SMTP</option_2>
			</element_options>
		</mode>
		<smtpOptions>
			<smtpHost>mail.anmagaexport.modulserver.com.ar</smtpHost>
			<smtpPort>587</smtpPort>
			<smtpUsername>anmagaex</smtpUsername>
			<smtpPassword>Anmaga</smtpPassword>
			<smtpSsl>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</smtpSsl>
		</smtpOptions>
	</email>
	<content>
		<home>2</home>
		<useDifferentHomeTemplate>
			<value>YES</value>
			<element_type>YES/NO</element_type>
		</useDifferentHomeTemplate>
	</content>
	<documents>
		<rowsPerPage>10</rowsPerPage>
		<documentsPath>WEB-INF/documents</documentsPath>
		<useGlobalCategories>
			<value>NO</value>
			<element_type>YES/NO</element_type>
		</useGlobalCategories>
		<usesCategoriesGroupPermission>
			<value>NO</value>
			<element_type>YES/NO</element_type>
		</usesCategoriesGroupPermission>
		<usePasswords>
			<value>NO</value>
			<element_type>YES/NO</element_type>
		</usePasswords>
		<newestLimit>6</newestLimit>
	</documents>
	<users>
		<documentTypes>
			<dni>1</dni>
			<cuil>2</cuil>
			<otro>3</otro>
		</documentTypes>
	</users>
	<registration>
		<mode>
			<value>Email Verification</value>
			<element_type>Options</element_type>
			<element_options>
				<option_1>Email Verification</option_1>
				<option_2>Moderated</option_2>
				<option_3>Moderated with Email Verification</option_3>
				<option_4>Open</option_4>
			</element_options>
		</mode>
		<useCaptcha>
			<value>NO</value>
			<element_type>YES/NO</element_type>
		</useCaptcha>
		<newsletterSubscription>
			<value>YES</value>
			<element_type>YES/NO</element_type>
		</newsletterSubscription>
	</registration>
	<blog>
		<entriesInHome>25</entriesInHome>
		<entriesPerPage>25</entriesPerPage>
		<charsInList>700</charsInList>
		<blogEntries>
			<useCategories>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</useCategories>
			<useSendEntries>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</useSendEntries>
		</blogEntries>
		<comments>
			<useComments>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</useComments>
			<displayComments>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</displayComments>
			<moderated>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</moderated>
		</comments>
	</blog>
	<board>
		<boardEntries>
			<useCategories>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</useCategories>
			<useSendEntries>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</useSendEntries>
		</boardEntries>
		<comments>
			<useComments>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</useComments>
			<displayComments>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</displayComments>
			<moderated>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</moderated>
		</comments>
	</board>
	<news>
		<newsInHome>2</newsInHome>
		<newsPerPage>2</newsPerPage>
		<newsArticles>
			<useTopTitle>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useTopTitle>
			<useSubTitle>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useSubTitle>
			<useSummary>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useSummary>
			<useSource>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useSource>
			<useRegions>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useRegions>
			<useCategories>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useCategories>
			<useImages>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useImages>
			<useVideo>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useVideo>
			<useAudio>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useAudio>
			<bodyOnArticlesShow>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</bodyOnArticlesShow>
			<useSendArticle>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useSendArticle>
		</newsArticles>
		<comments>
			<useComments>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useComments>
			<displayNewsComments>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</displayNewsComments>
		</comments>
	</news>
	<newsletters>
		<sendToPendingUsers>
			<value>YES</value>
			<element_type>YES/NO</element_type>
		</sendToPendingUsers>
	</newsletters>
	<calendar>
		<calendarEvents>
			<useSummary>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</useSummary>
			<useRegions>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useRegions>
			<useCategories>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useCategories>
			<useImages>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useImages>
			<bodyOnArticlesShow>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</bodyOnArticlesShow>
		</calendarEvents>
	</calendar>
</config>
