div.last {
	border: 0;
}
/*
	navigation bar - horizontal dropdown
	--------------------------------------------------
*/

/* first level */
ul.menu {
	width:100%;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
/*	background-color:#00CC00;*/
}

ul.menu li {
	position: relative;
	float: left;
	width:130px;
	text-align:center;
	border-right:solid 1px #ffe049;
}

ul.menu li a {
	display: block;
	width: auto;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	background: transparent url(../images/bg-nav-sep.png) no-repeat right 2px;	
}

ul.menu li.last a {
	background: transparent;
}

ul.menu li a.sub {
	padding-right: 15px;
	background: transparent url(../images/bg-nav-sep.png) no-repeat right -30px;
}
ul.menu li a {
	padding-right: 15px;
	background: transparent;
}

ul.menu li:hover,
ul.menu li.hover .protofish {
	background: transparent url(../images/bg-nav.png) repeat-x 0 -32px;
}

ul.menu li:hover a,
ul.menu li.hover .protofish a {
	color: #000;
}

ul.menu li.active a {
	color: #f15c30;
}

/* second level */
ul.menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	top: 32px;
	width: 220px;
	border-top: 1px solid #d7d7d7;
}

/* resetting first level */
ul.menu ul ul {
	
}

ul.menu li:hover li,
ul.menu li:hover li a,
ul.menu li.hover .protofish li,
ul.menu li.hover .protofish li a {
	background: #fff;
	color: #000000;
	text-align:left;
}

/* submenu markup */
ul.menu li li {
	width: 100%;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
}

ul.menu li li.last {
	border-bottom: 1px solid #d7d7d7;
}

ul.menu li li a {
	padding: 5px 5px 5px 10px;
}

ul.menu li:hover li:hover a,
ul.menu li.hover li.hover .protofish a {
	background: #f6f6f6;
	color: #000;
}

ul.menu li:hover li.active a,
ul.menu li.hover .protofish li.active a {
	color: #f15c30;
}

ul.menu li li a.sub {
	padding-right: 15px;
	background: url(../images/arrow_r.png) no-repeat 95% 50%;
}

ul.menu li:hover li:hover a.sub,
ul.menu li.hover li.hover .protofish a.sub {
	background: #f6f6f6 url(../images/arrow_r.png) no-repeat 95% 50%;
}

/* third level */
/* resetting second level */
ul.menu ul ul{
	top: -1px;
	margin-left: 221px;
	background: #fff;
}

ul.menu li:hover li:hover li,
ul.menu li:hover li:hover li a, 
ul.menu li.hover li.hover .protofish li,
ul.menu li.hover li.hover .protofish li a {
	color: #000;
	text-align:left;
}

/* subsubmenu markup */
ul.menu li:hover li:hover li:hover a,
ul.menu li.hover li.hover li.hover .protofish a {
	background: #e6e6e6;
	color: #000;
}

ul.menu li:hover li:hover li.active a,
ul.menu li.hover li.hover .protofish li.active a {
	color: #f15c30;
}

ul.menu li:hover li:hover li:hover a.sub,
ul.menu li.hover li.hover li.hover .protofish a.sub {
	background: #e6e6e6 url(../images/arrow_r.png) no-repeat 95% 50%;
}

/* fourth level */
/* resetting second level */
ul.menu li:hover li:hover li:hover li,
ul.menu li:hover li:hover li:hover li a,
ul.menu li.hover li.hover li.hover .protofish li,
ul.menu li.hover li.hover li.hover .protofish li a {
	color: #000000;
	text-align:left;
}

/* subsubmenu markup */
ul.menu li:hover li:hover li:hover li:hover a,
ul.menu li.hover li.hover li.hover li.hover .protofish a {
	background: #ccc;
	color: #000;
}

ul.menu li:hover li:hover li:hover li.active a,
ul.menu li.hover li.hover li.hover .protofish li.active a {
	color: #f15c30;
}

ul.menu li:hover li:hover li:hover li a.sub,
ul.menu li.hover li.hover li.hover .protofish li a.sub {
	background: #e6e6e6;
}

ul.menu li:hover li:hover li:hover li:hover a.sub,
ul.menu li.hover li.hover li.hover li.hover .protofish a.sub {
	background: #ccc;
}

/* hiding fifth level */
div#nav ul ul ul ul ul {
	display: none;
}

/* show hide behaviour */
ul.menu ul,
ul.menu li:hover ul ul,
ul.menu ul ul,
ul.menu li:hover ul ul ul,
ul.menu ul ul ul,
ul.menu li:hover ul ul ul ul {
	position: absolute;
	left: -999em;
}

ul.menu li:hover ul,
ul.menu li li:hover ul,
ul.menu li li li:hover ul,
ul.menu li li li li:hover ul {
	left: -1px;
	z-index: 999;
}

/* show hide behaviour with protofish */
ul.menu li.hover ul ul,
ul.menu li.hover ul ul ul,
ul.menu li.hover ul ul ul ul {
	position: absolute;
	left: -999em;
}

ul.menu li.hover ul,
ul.menu li li.hover ul,
ul.menu li li li.hover ul,
ul.menu li li li li.hover ul {
	left: -1px;
	z-index: 999;
}