* {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	background: url(../images/bkg_body.jpg) repeat-x top;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	font-size: 62.5%;
	vertical-align: top;
}
input, textarea, checkbox, select, radio {
	font-family: Arial, Helvetica, sans-serif, Verdana;
}
th {
	padding: 0px;
	font-weight: bold;
	text-align: left;
}
#wrapper {
	margin: 0px auto;
	width: 980px;
	padding: 0px;
	display: block;
	background-image:url(../images/bkg_wrapper.gif);
	background-repeat: repeat-y;
	background-position: left top;
	position: relative;
	min-height: 900px;
	height: auto;
	overflow: hidden;
}
#header {
	border-bottom: solid 10px #689CCC;
	margin: 0px;
	width: 980px;
	float: left;
	padding: 0px;
	background: url(../images/bkg_header.jpg) #FFFFFF no-repeat center top;
	color: #333333;
	height: 115px;
}
#topImage_2_esp, #topImage_3_esp, #topImage_4_esp, #topImage_5_esp, #topImage_6_esp, #topImage_7_esp,
#topImage_8_esp, #topImage_9_esp, #topImage_10_esp, #topImage_11_esp, #topImage_12_esp, #topImage_13_esp,
#topImage_2_eng, #topImage_3_eng, #topImage_4_eng, #topImage_5_eng, #topImage_6_eng, #topImage_7_eng,
#topImage_8_eng, #topImage_9_eng, #topImage_10_eng, #topImage_11_eng, #topImage_12_eng, #topImage_13_eng{
	margin: 0px;
	padding: 0px;
	width: 980px;
	float: left;
	height: 183px;
}

#topImage_2_esp{
	background: url(../images/002-es.jpg) no-repeat center top;
}
#topImage_2_eng{
	background: url(../images/002-en.jpg) no-repeat center top;
}

#topImage_3_esp{
	background: url(../images/003-es.jpg) no-repeat center top;
}
#topImage_3_eng{
	background: url(../images/003-en.jpg) no-repeat center top;
}

#topImage_4_esp{
	background: url(../images/004-es.jpg) no-repeat center top;
}
#topImage_4_eng{
	background: url(../images/004-en.jpg) no-repeat center top;
}

#topImage_5_esp{
	background: url(../images/005-es.jpg) no-repeat center top;
}
#topImage_5_eng{
	background: url(../images/005-en.jpg) no-repeat center top;
}

#topImage_6_esp{
	background: url(../images/006-es.jpg) no-repeat center top;
}
#topImage_6_eng{
	background: url(../images/006-en.jpg) no-repeat center top;
}

#topImage_7_esp{
	background: url(../images/007-es.jpg) no-repeat center top;
}
#topImage_7_eng{
	background: url(../images/007-en.jpg) no-repeat center top;
}

#topImage_8_esp{
	background: url(../images/008-es.jpg) no-repeat center top;
}
#topImage_8_eng{
	background: url(../images/008-en.jpg) no-repeat center top;
}

#topImage_9_esp{
	background: url(../images/009-es.jpg) no-repeat center top;
}
#topImage_9_eng{
	background: url(../images/009-en.jpg) no-repeat center top;
}

#topImage_10_esp{
	background: url(../images/010-es.jpg) no-repeat center top;
}
#topImage_10_eng{
	background: url(../images/010-en.jpg) no-repeat center top;
}

#topImage_11_esp{
	background: url(../images/011-es.jpg) no-repeat center top;
}
#topImage_11_eng{
	background: url(../images/011-en.jpg) no-repeat center top;
}

#topImage_12_esp{
	background: url(../images/012-es.jpg) no-repeat center top;
}
#topImage_12_eng{
	background: url(../images/012-en.jpg) no-repeat center top;
}

#topImage_13_esp{
	background: url(../images/013-es.jpg) no-repeat center top;
}
#topImage_13_eng{
	background: url(../images/013-en.jpg) no-repeat center top;
}

#sloganLine {
	margin: 0px 0px 0px 5px;
	width: 810px;
	float: left;
	padding: 0px;
	display: block;
	color: #3E3E3E;
	height: 20px;
}
#leftcolumn {
	margin: 0px;
	width: 240px;
	float: left;
	padding: 0px;
	color: #333333;
	height: auto;
}
#content {
	margin: 5px 20px 5px 15px;
	width: 545px !important;
	float: left;
	padding: 0px;
	display: inline;
	color: #333333;
	height: auto;
}
#rightcolumn {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	width: 159px; /*  ie */
	float: left;
	color: #333333;
	text-align: center;
	height: auto;
}
#footer {
	margin: 0px auto;
	width: 980px;
	clear: both;
	padding: 0px;
	background: url(../images/bkg_footer.gif) no-repeat #FF6600 bottom left;
	color: #FFFFFF;
	bottom: 0px;
	height: 50px;
	margin-bottom: 50px;
}
/*  MENU TOP  -----------------------*/
.clearit {
	margin: 0;
	padding: 0;
	clear: both;
	height: 0;
}
/* BUBBLE PLASTIC HORIZONTAL MENU */
.menuTop {
	width: 650px;
	margin: 20px 20px 0px 300px; /*  ie6 */
	padding: 0;
	height: 60px;
	position: absolute;
}
.menuTop  ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menuTop  ul li,
.menuTop  ul li.large {
	float: left;
	width: 130px;
	margin: 0px;
	padding: 5px 5px 0px 5px;
	border-left: solid 1px #000000;
	border-right: solid 1px #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.menuTop  ul li.large {
	width: 180px;
}
.menuTop  ul li a,
.menuTop  ul li.large a {
	width: 130px; /*	padding-left: 35px;*/
	float: left;
	display: block;
	color: #FFFFFF;
	font-size: 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	height: 60px;
}
.menuTop  ul li a:hover,
.menuTop  ul li.large a:hover {
	color: #FF9966;
}
.menuTop  ul li.large a {
	width: 180px;
}
.area {
	font-size: 10px;
	font-weight: normal;
}
/* END BUBBLE PLASTIC HORIZONTAL MENU */
/*  MENU TOP  -----------------------*/
#logo1 {
	margin: 2px 0px 0px 15px;
	width: 260px;
	float: left;
	padding: 0px;
	display: inline;
	color: #333333;
	height: 92px;
	vertical-align: bottom;
}
#logo1 a {
	padding: 0px;
	margin: 10px 0px 0px 10px;
	width: 230px;
	float: left;
	display: inline;
	background: url(../images/logo-cippec.gif) no-repeat left bottom;
	height: 90px;
}
/* ICONOS HEADER - MENU LATERAL DERECHO */
#header #iconos {
	padding: 0px;
	margin: 5px 3px 0px 10px;
	width: 21px;
	float: right;
	display: inline;
}
#header #iconos ul {
	padding: 0px;
	margin: 0px;
	display: block;
}
#header #iconos ul li a{
	padding: 0px;
	margin: 3px 0px 0px 0px;
	width: 21px;
	display: block;
	height: 21px;
}
#header #iconos ul li a.icon_esp{
	background: url(../images/iconos-header.gif) 0px 0px;
}
#header #iconos ul li a.icon_esp:hover{
	background: url(../images/iconos-header.gif) 21px 0px;
}
#header #iconos ul li a.icon_eng{
	background: url(../images/iconos-header.gif) 0px -21px;
}
#header #iconos ul li a.icon_eng:hover{
	background: url(../images/iconos-header.gif) 21px -21px;
}
#header #iconos ul li a.iconContact{
	background: url(../images/iconos-header.gif) 0px 66px;
}
#header #iconos ul li a.iconContact:hover{
	background: url(../images/iconos-header.gif) 21px 66px;
}
#header #iconos ul li a.iconMap{
	background: url(../images/iconos-header.gif) 0px 44px;
}
#header #iconos ul li a.iconMap:hover{
	background: url(../images/iconos-header.gif) 21px 44px;
}
#header #iconos ul li a.iconDonation{
	background: url(../images/iconos-header.gif) 0px 21px;
}
#header #iconos ul li a.iconDonation:hover{
	background: url(../images/iconos-header.gif) 21px 21px;
}
#sloganLine div {
	margin: 3px 10px 0px 15px;
	font-size: 1.1em;
	font-weight: bold;
}
#sloganDate {
	float: right;
}
#sloganRegistration {
	float: right;
}
#titleLastNews {
	border-bottom: #CCCCCC 1px solid;
	border-left: #CCCCCC 1px solid;
	margin: 2px 0px 0px;
	width: 520px !important;
	border-top: #CCCCCC 1px solid;
	border-right: #CCCCCC 1px solid;
	padding: 5px;
	background: url(../images/bkg_titleSection.gif) #FFFFFF repeat-x left bottom;
	color: #006699;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	height: auto;
}
#titleContent {
	border-bottom: #FF9900 2px solid;
	padding: 10px 5px 5px;
	margin-bottom: 15px;
	color: #FF9900;
	font-size: 1.6em;
	font-weight: bold;
	height: auto;
}
#titleAgenda {
	border: #CCCCCC 1px solid;
	margin: 0px 0px 10px;
	width: 545px !important;
	padding: 5px;
	background-color: #E9E9E9;
	color: #006699;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	height: auto;
}
#titleAgenda a {
	color: #006699;
	text-decoration: none;
}
#titleAgenda a:visited {
	color: #006699;
	text-decoration: none;
}
#titleAgenda a:hover {
	color: #006699;
	text-decoration: underline;
}
#icoAgenda {
	margin: -10px 0px 0px 475px;
	width: 42px;
	float: right;
	background-image: url(../images/ico_calendar.gif);
	position: absolute;
	height: 35px;
}
.calendar01 h1 {
	margin: 5px 0px 10px;
	color: #006699;
	font-size: 2.5em;
	font-weight: normal;
	line-height: 0.9em;
}
.calendar02 h1 {
	margin: 5px 0px 10px;
	color: #006699;
	font-size: 2.5em;
	font-weight: normal;
	line-height: 0.9em;
}

.agenda {
	margin: 5px 5px 0px;
	width: 520px !important;
	padding: 0px;
	background-color: #CCCCCC;
	color: #006699;
	font-size: 1.1em;
	font-weight: normal;
	text-align: left;
	height: auto;
}
.agendaImage {
	border: #990000 1px solid;
	margin: 0px 10px 10px;
	text-align: left;
}
p.agendaTexto {
	margin: 0px 0px 0px 105px;
	text-align: left;
}
#calendar {
	padding: 10px 10px 5px 0px;
}
.rightBanners {
	margin: 0px 10px 5px;
}
#bannerZoneId_2 div, #bannerZoneId_3 div, #bannerZoneId_4 div, #bannerZoneId_5 div, #bannerZoneId_6 div {
	margin: 8px 10px 5px;
}
#bannerZoneId_1 div,#bannerZoneId_7 div {
	margin: 8px 5px 5px;
}
.bannerLeftCol {
	margin: 8px 5px 5px;
}
.bannerRightCol {
	margin: 8px 10px 5px;
}
/* BANNERS RIGHTCOLUMN -----------------------*/
#rightcolumn h1{
	margin: -15px auto 10px auto;
	color: #FF6600;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
}
#rightcolumn ul#banners{
	margin: 0px auto;
}
#rightcolumn ul#banners li{
	margin: 0px 0px 8px 0px;
}
#rightcolumn .titleArticulos {
	margin: 10px auto 0px;
	width: 185px;
	border: #FFCC66 1px solid;
	padding: 5px;
	background-color: #FFFFFF;
	color: #CC6600;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	height: 15px;
}
.rightColumnArticulo {
	border-bottom: #FF9900 1px solid;
	margin: 0px 10px 0px 14px;
	padding: 3px 0px 3px 10px;
	background: url(../images/bullet_rightcolumn.gif) no-repeat left 7px;
}
.rightColumnArticulo a:link {
	color: #000000;
	text-decoration: none;
}
.rightColumnArticulo a:visited {
	color: #000000;
	text-decoration: none;
}
.rightColumnArticulo a:hover {
	color: #000000;
	text-decoration: underline;
}
#footerInfo {
	padding: 10px 0px 0px 0px;
	margin: 0px auto;
	width: 900px;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}
#footerInfo a {
	color: #006699;
}
#footerInfo a:hover {
	color: #3366FF;
}
#buscador {
	margin: 30px 0px 0px;
	width: 171px;
	padding: 10px 0px 0px;
	background: url(../images/bkg_lupa.gif) no-repeat left top;
	color: #000000;
	font-weight: normal;
	text-align: right;
	height: 87px;
}
#buscador .textbox {
	border: #CC6600 1px solid;
	margin: 3px 10px 0px 0px;
	width: 100px;
	background-color: #FFFFFF;
	font-size: 1.1em;
}
#buscador .boton {
	margin: 3px 10px 0px 0px;
}
#searchbox {
	margin: 15px 10px 0px 130px;
	width: 320px;
	float: left;
	padding: 0px;
	display: inline;
	background: url(../images/top_searchbox.gif) no-repeat left bottom;
	height: 64px;
}
#searchbox .textbox {
	border: #CC6600 1px solid;
	margin: 18px 10px 0px 60px;
	width: 175px;
	float: left;
	display: inline;
	background-color: #FFFFFF;
	font-size: 1.1em;
	height: 20px;
}
#searchbox .button {
	border-bottom: #FF9900 1px solid;
	border-left: #FF9900 1px solid;
	margin: 18px 10px 0px 0px;
	width: 60px;
	float: right;
	border-top: #FF9900 1px solid;
	border-right: #FF9900 1px solid;
	display: inline;
	background-image: url(../images/bkg_button.png);
	background-color: transparent;
	background-repeat: repeat-x;
	background-position: center center;
	color: #006699;
	font-size: 14px;
	height: 21px;
	cursor: pointer;
}
#rssSearchBox {
	margin-top: 4px;
	padding-right: 20px;
	float: right;
	margin-right: 10px;
	display: inline;
	background: url(../images/icon_rss.png) no-repeat right 50%;
	color: #006699;
	line-height: 18px;
	height: 16px;
}
#rssSearchBox a {
	color: #006699;
	text-decoration: none;
}
#completeText {
	margin: 10px 0px 0px 40px;
	padding: 0px;
	display: block;
}
#completeText p {
	margin: 5px 20px 10px 0px;
	padding: 7px 0px 0px;
	color: #000000;
	font-size: 1.1em;
	font-weight: normal;
	line-height: 1.4em;
}
#titleComments {
	border-bottom: #CCCCCC 1px solid;
	border-left: #CCCCCC 1px solid;
	margin: 2px 0px 10px;
	width: 520px !important;
	border-top: #CCCCCC 1px solid;
	border-right: #CCCCCC 1px solid;
	padding: 5px;
	background: url(../images/bkg_titleComments.gif) #FFFFFF repeat-x left bottom;
	color: #006699;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	height: auto;
}
#icoComments {
	margin: -10px 0px 0px 475px;
	width: 32px;
	float: right;
	background-image: url(../images/ico_comments.gif);
	position: absolute;
	height: 32px;
}
#icoWriteComments {
	margin: -10px 0px 0px 475px;
	width: 33px;
	float: right;
	background-image: url(../images/ico_writeComment.gif);
	position: absolute;
	height: 35px;
}
#comentarios {
}
#comentarios p {
	margin: 0px 15px 15px;
	color: #000000;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.4em;
}
#comentarios .individual {
	border-bottom: #6AAEDF 1px solid;
	margin: 0px 15px 15px;
	padding: 5px;
	background-color: #F2F8FE;
	height: auto;
}
#comentarios .nombre {
	color: #000000;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.4em;
}
#comentarios .fecha {
	color: #666666;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.4em;
}
#comentarios img {
	margin: 0px 5px 0px 15px;
}
#formComments {
	margin: 0px 10px 15px 30px;
	color: #333333;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.4em;
}
#formComments input, #formComments textarea {
	border: #999999 1px solid;
	background-color: #E6E5E9;
}
.inProgress {
	padding-left: 30px;
	padding-right: 30px;
	color: #D2691E;
	font-weight: bold;
	text-decoration: blink;
}
.resultSuccess {
	padding-left: 30px;
	padding-right: 30px;
	color: #00008B;
	font-weight: bold;
}
.resultFailure {
	padding-left: 30px;
	padding-right: 30px;
	color: #B22222;
	font-weight: bold;
}
option {
	padding-right: 5px;
	background: #FCFCFC;
}
.pages {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	height: 37px;
	vertical-align: middle;
}
a.pageLink:link {
	margin: 0px 2px;
	font-weight: normal;
	text-decoration: underline;
}
a.pageLink:visited {
	margin: 0px 2px;
	font-weight: normal;
	text-decoration: underline;
}
a.pageLink:hover {
	margin: 0px 2px;
	font-weight: normal;
	text-decoration: underline;
}
a.pageLink:active {
	margin: 0px 2px;
	font-weight: normal;
	text-decoration: underline;
}
.pages {
	background-color: #FFFFFF;
	color: #0054A4;
}
a.pageLink:link {
	color: #666666;
}
a.pageLink:visited {
	color: #666666;
}
a.pageLink:hover {
	color: #0054A4;
}
a.pageLink:active {
	color: #0054A4;
}
.paginateText {
	padding: 3px;
	display: inline;
}
.detail {
	padding: 8px 12px 4px 12px;
	color: #FFFFFF;
	border: 1px solid #0061AA;
	background-color: #0061AA;
}
a.detail:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.detail:visited {
	color: #FFFFFF;
}
a.detail:hover {
	color: #FFFFFF !important;
	background-color: #ff6600; /* 000066 */
	border: 1px solid #ff6600;
}

/*.detail {
	padding:8px;
	border: solid 1px #0073cc;
	text-decoration:underline;
	float:right;
}
a.detail:link {
	color: #000066;
	text-decoration:none;
}
a.detail:visited {
	color: #000066;
	text-decoration:none;	
}
a.detail:hover {
	background-color: #ff6600;
	color: #FFFFFF;
	text-decoration:none;	
} */
.deactivated {
	color: #999999;
}
fieldset {
	margin-bottom: 2em;
	padding: 8px;
	position: relative;
}
fieldset legend {
	margin-bottom: 0.5em;
	margin-left: -0.3em;
	padding: 0.2em;
	font-size: 1.4em;
	font-weight: bold;
	position: relative;
	top: -1.4em;
}
fieldset label {
	padding-bottom: 5px;
	width: 120px;
	padding-right: 5px;
	margin-bottom: 0px;
	float: left;
	padding-top: 0px;
	display: block;
	font-weight: bold;
	text-align: right;
	height: auto;
	vertical-align: text-top;
}
fieldset p {
	clear: both;
	display: block;
	height: auto;
}
fieldset fieldset legend {
	background-color: transparent;
}
fieldset fieldset label {
	width: 30px;
	display: inline;
	font-weight: bold;
}
fieldset fieldset {
	width: 40%;
	margin-left: 120px;
	padding: 5px;
}
fieldset fieldset label {
	display: inline;
	font-weight: bold;
}
fieldset li {
	margin-left: 35px;
}
legend {
	color: #006699;
}
#content fieldset {
	margin-top: 15px;
}
#content fieldset label {
	padding-right: 10px;
	margin-bottom: 10px;
	color: #006699;
}
#content #contentBody #titleContent h1 {
	color: #FF6600;
	font-size: 1.7em;
}
#content #contentBody h2 {
	color: #006699;
	font-size: 1.6em;
	text-transform: uppercase;
}
#content #contentBody h3 {
	color: #006699;
	font-size: 1.4em;
}
#content #contentBody h4 {
	color: #006699;
	font-size: 1.2em;
}
#content #contentBody h5 {
	color: #FF9900;
	font-size: 1.6em;
}
#content #contentBody h6 {
	color: #FF9900;
	font-size: 1.4em;
}
#content #contentBody {
	width: 545px;
	margin-bottom: 50px;
}
#content #contentBody h2 {
	margin-top: 1.2em;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0.7em;
}
#content #contentBody h3 {
	margin-top: 1.2em;
	padding-left: 8px;
	padding-right: 8px; /*MARGIN-BOTTOM: 0.7em*/
}
#content #contentBody h4 {
	margin-top: 0.7em;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0.7em;
}
#content #contentBody ul {
	padding-top: 12px;
	padding-bottom: 8px;
}
#content #contentBody ul li {
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	text-align: justify;
}
#content #contentBody p {
	color: #000000;
	padding-left: 8px;
	font-size: 1.2em;
	text-align: justify;
	line-height: 1.4em;
}
#content #contentBody p a:link, #content #contentBody a:link,
#content #contentBody p a:visited, #content #contentBody a:visited {
	color: #004A90;
}
#content #contentBody p a:hover, #content #contentBody a:hover{
	color: #6495ED;
}

#content #contentBody .vermas{
	margin-top: -10px;
}
#content #contentBody p.MsoNormal {
	margin: 0px 10px;
	padding: 8px 0px 0px;
	color: #000000;
	font-size: 1.1em;
	line-height: 1.3em;
}
#content #contentBody hr {
	margin: 15px 0px 5px 10%;
	width: 80%;
	background-color: #006699;
}
#content #contentBody ul li {
	margin: 0px 0px 5px 30px;
	list-style-position: outside;
	list-style-type: circle;
	font-size: 1.2em;
	text-align: justify;
	vertical-align: text-top;
}
#content #contentBody p.title {
	margin-top: 1em;
	font-size: 1.2em;
	font-weight: bold;
}
#content #contentBody p.title2 {
	font-size: 1.1em;
	font-weight: bold;
}

#content #contentBody form input,
#content #contentBody form textarea,
#content #contentBody form radio,
#content #contentBody form select,
#content #contentBody form checkbox {
	margin: 4px;
	text-align: justify;
	line-height: 1.4em;
}
#content #contentBody form label,
#content #contentBody form p label {
	font-weight: bold;
	text-align: justify;
	line-height: 1.4em;
}
#content #contentBody p img.imgLeft{
	padding: 2px 10px 5px 0;
}

/* RECUADRO NOTICIAS ------------------------------------*/
#content #newsTop{
	width: 530px;
	float: left;
	margin: 0px 0px 0px 10px;
	background: url(../images/news-top.gif) no-repeat top left;
	height: 8px;
}
#content #newsMiddle{
	width: 530px;
	float: left;
	margin: 0px 0px 0px 10px;
	background: url(../images/news-middle.gif) repeat-y top left #FF0055;
	height: auto;
}
#content #newsMiddle h1{
	margin: 0px 10px;
	color: #666666;
}
#content #newsMiddle ul{
	margin: 0px 10px;
}
#content #newsMiddle li{
	margin: 5px 0px 5px 15px;
	list-style-type: square;
}
#content #newsMiddle li a{
	color: #FF9966;
	font-size: 1.2em;
	font-weight: bold;
}
#content #newsMiddle li a:hover{
	color: #666666;
}
#content #newsBottom{
	width: 530px;
	float: left;
	margin: 0px 0px 20px 10px;
	background: url(../images/news-bottom.gif) no-repeat top left;
	height: 8px;
}
.empty {
	background: #E9E9E9;
}
.eventsMonth {
	padding: 5px;
	empty-cells: show;
	table-layout: fixed;
}
.eventsMonth td {
	border: #999999 1px solid;
	padding: 10px;
	vertical-align: top;
}
.eventsMonth th {
	border: #999999 1px solid;
	padding: 5px;
	color: #006699;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
}
.eventsMonth tbody tr td ul li {
	list-style-position: inside;
	list-style-type: disc;
}
#calendar h1 {
	color: #006699;
	margin: 5px 0px;
	clear: both;
	display: block;
}
#calendar a.eventTitle, #calendar * h3 {
	color: #006699;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
}
#calendar .eventDate {
	font-size: 1em;
	font-weight: bold;
}
#calendar li {
	font-size: 1.1em;
}
#calendar .events li {
	display: inline;
}
#calendar .events p {
	text-align: justify;
}
.eventsDay {
	padding-left: 5px;
	width: 20px;
	float: left;
	color: #FF6600;
	font-size: 1.5em;
	font-weight: bold;
	overflow: hidden;
}
.events {
	border-left: #FF6600 2px solid;
	margin: 0px 0px 15px 10px;
	width: 490px;
	float: left;
	clear: right;
	padding: 0px 0px 0px 8px;
	display: inline;
}
.currentDay {
	background-color: #FFF4CE;
}
.calendarClose {
	float: none;
	clear: both;
	display: block;
}
.dayNumber {
	color: #8B8B8B;
	font-size: 1.2em;
}
a.dayEventNumber {
	color: #FF6600;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}
#overDiv * {
}
#overDiv table td:first-child {
	padding: 1px;
	font-size: 1.2em;
}
#overDiv table td table td {
	padding: 5px;
}
#overDiv table td table td:first-child {
	padding: 10px;
	font-size: 1.1em;
}
#overDiv a {
	text-decoration: none;
}
#overDiv a:hover {
	text-decoration: none;
	cursor: pointer;
}
#overDiv h3 {
	padding-top: 8px;
	color: #006699;
	font-size: 1.3em;
}
#overDiv h4 {
	color: #666666;
	font-size: 1.1em;
}
#success {
	color: #006699;
}
#failure {
	color: #990000;
}
#inProgress {
	color: #006699;
	font-size: 1.4em;
	font-weight: bold;
	text-decoration: blink;
}
.bannerImage {
	border: none;
}
a.linkImageRss {
	margin: 8px 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding: 3px 0px 3px 22px;
	background: url(../images/icon_rss.png) no-repeat left 50%;
	color: #E6B544;
	font-size: 1.1em;
	font-weight: normal;
	line-height: 2em;
	text-decoration: none;
	cursor: pointer;
}
a.linkImageRss:hover {
	color: #E6B544;
	text-decoration: none;
}
#menu {
	width: 225px;
	margin: 0px 10px 10px 15px; /* IE6 */
}
#menu li {
	border-bottom: solid 1px #CCCCCC;
	background: url(../images/menu_arrow.gif) no-repeat 8px 7px;
}
#menu ul li {
	font-weight: bold;
}
#menu ul ul li,#menu ul ul ul li {
	font-weight: normal;
}
/*segundo nivel*/
#menu ul ul li{
/*	border-bottom: solid 1px #C1C1C1;*/
	background: url(../images/menu_arrow2.gif) no-repeat 20px 7px;
}
#menu li a {
	voice-family: inherit;
	margin-left: 15px;
	font-size: 1.2em; /*HEIGHT: 18px; OVERFLOW: auto;*/
	text-decoration: none;
}
#menu ul ul li a {
	margin-left: 30px;
}
#menu li ul li ul li a {
	margin-left: 22px;
}
#menu li a:link {
	padding: 5px 0px 3px 10px;
	display: block;
	color: #0061AA; /*  #000033 */
}
#menu li a:visited {
	padding: 5px 0px 3px 10px;
	display: block;
	color: #0061AA;
}
#menu li a:hover {
	padding: 5px 0px 3px 10px;
	color: #FF9900;
}
#menu li a:active {
	padding: 5px 0px 3px 10px;
	color: #FF9900;
}
#menu li .current {
	border-bottom: solid 1px #ff6a00;
	padding: 5px 0px 0px 15px;
	display: block;
	color: #FF6600;
	background-image: none;
	font-weight: bold;
	font-size: 1.3em;
	height: 20px;
}
#menu li.current {
	background-color: #ffebcc;
}
#menu li.current  ul li{
background-color:#fff8ed;
}
#menu li.current  ul li a{	
	color:#cc3300
}
#menu ul ul li .current {
	padding: 5px 0px 0px 25px;
}
#menu ul ul ul li .current {
	padding: 5px 0px 0px 35px;
}
#menu ul li.areaTitle {
	padding: 5px 0px 0px 10px;
	display: block;
	color: #FFFFFF;
	background-image: none;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10px;
	border: none;
	text-transform: uppercase;
	background:#0073cc url(../images/menu-areaBottom.gif) bottom no-repeat;
	padding-top:9px;
	padding-bottom:7px;	
	margin-top:-20px;
}

/* segundo nivel*/
#menu ul li ul li a:link{
	color:#CC3300;
}
#menu ul li ul li a:hover{
	color:#FF9900;
}

.linkImageEsp, .linkImageEng {
	border-right-width: 0px;
	padding-left: 20px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	height: 16px;
	cursor: pointer;
}
.linkImageEsp {
	background: url(../images/esp.png) no-repeat;
}
.linkImageEng {
	background: url(../images/eng.png) no-repeat;
}
#categoriesListPlaceHolder ul li {
	margin-top: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
	list-style-type: none;
	color: #000000;
	font-size: 1.3em;
	font-weight: bold;
}
#categoriesListPlaceHolder ul li ul li {
	padding-left: 15px;
	margin-bottom: 10px;
	list-style-type: none;
	background-image: url(../images/bullet-1.gif);
	background-repeat: no-repeat;
	background-position: 0px 4px;
	color: #000000;
	font-size: 1em;
	font-weight: bold;
}
#categoriesListPlaceHolder ul li ul li ul li {
	padding-left: 15px;
	margin-bottom: 0px;
	list-style-type: none;
	background-image: url(../images/bullet-2.gif);
	background-repeat: no-repeat;
	background-position: 0px 4px;
	color: #000000;
	font-size: 1em;
	font-weight: normal;
	text-transform: none;
}
#categoriesListPlaceHolder a.selected {
	background-color: #DCDCDC;
	color: #000000;
}
#categoriesListPlaceHolder a:link {
	color: #000000;
	text-decoration: none;
}
#categoriesListPlaceHolder a:visited {
	color: #000000;
	text-decoration: none;
}
.buttonImageView, .buttonImageViewDisabled, .buttonImageGoTo, .buttonImageBack, .buttonImageViewGantt,
.buttonImageUpload, .buttonImageUploadDisabled, .buttonImageDownload, .buttonImageDownloadDisabled,
.buttonImageActivate, .buttonImageActivateDisabled, .buttonImageEmail, .buttonImageEmailDisabled,
.buttonImageHistory, .buttonImageHistoryDisabled, .buttonImageSendMultiple, .buttonImageSendMultipleDisabled,
.buttonImageStoreInServer, .buttonImageStoreInDisabled, .buttonImageRestore, .buttonImageRestoreDisabled,
.buttonImageStoreLocal, .buttonImageStoreLocalDisabled, .buttonImageWeight, .buttonImageWeighteDisabled,
.buttonImageOrder, .buttonImageOrderDisabled, .buttonImageRestoreFromServer,
.buttonImageRestoreFromServerDisabled, .buttonImageDelete, .buttonImageDeleteDisabled, .buttonImageEdit,
.buttonImageEditDisabled, .buttonImageAdd, .buttonImageAddDisabled {
	width: 16px;
	border: none;
	color: #FFFFFF !important;
	font-size: 0px !important;
	height: 16px;
	cursor: pointer;
}
.linkImageViewGantt, .linkImageUpload, .linkImageUploadDisabled, .linkImageDownload, .linkImageDownloadDisabled,
.linkImageActivate, .linkImageActivateDisabled, .linkImageInfo, .linkImageHelp, .linkImageEmail,
.linkImageEmailDisabled, .linkImageHistory, .linkImageHistoryDisabled, .linkSendMultiple,
.linkImageSendMultipleDisabled, .linkImageStoreInServer, .linkImageStoreInServerDisabled,
.linkImageStoreLocal, .linkImageStoreLocalDisabled, .linkImageRestore, .linkImageRestoreDisabled,
.linkImageWeight, .linkImageWeighteDisabled, .linkImageOrder, .linkImageOrderDisabled,
.linkImageRestoreFromServer, .linkImageRestoreFromServerDisabled, .linkImageDelete, .linkImageDeleteDisabled,
.linkImageEdit, .linkImageEditDisabled, .linkImageAdd, .linkImageAddDisabled, .linkImageView,
.linkImageViewDisabled, .linkImageGoTo, .linkImageBack {
	width: 20px;
	border: none;
	height: 16px;
	cursor: pointer;
}

.buttonImageDelete {
	background: url(../images/linkImageDelete.png) no-repeat center 50%;
}
.linkImageDelete {
	background: url(../images/linkImageDelete.png) no-repeat center 50%;
}
.buttonImageDeleteDisabled {
	background: url(../images/linkImageDeleteDisabled.png) no-repeat center 50%;
}
.linkImageDeleteDisabled {
	background: url(../images/linkImageDeleteDisabled.png) no-repeat center 50%;
}
.buttonImageEdit {
	background: url(../images/linkImageEdit.png) no-repeat center 50%;
}
.linkImageEdit {
	background: url(../images/linkImageEdit.png) no-repeat center 50%;
}
.buttonImageEditDisabled {
	background: url(../images/linkImageEditDisabled.png) no-repeat center 50%;
}
.linkImageEditDisabled {
	background: url(../images/linkImageEditDisabled.png) no-repeat center 50%;
}
.buttonImageAdd {
	background: url(../images/linkImageAdd.png) no-repeat center 50%;
}
.linkImageAdd {
	background: url(../images/linkImageAdd.png) no-repeat center 50%;
}
.buttonImageAddDisabled {
	background: url(../images/linkImageAddDisabled.png) no-repeat center 50%;
}
.linkImageAddDisabled {
	background: url(../images/linkImageAddDisabled.png) no-repeat center 50%;
}
.buttonImageView {
	background: url(../images/linkImageView.png) no-repeat center 50%;
}
.linkImageView {
	background: url(../images/linkImageView.png) no-repeat center 50%;
}
.buttonImageViewDisabled {
	background: url(../images/linkImageViewDisabled.png) no-repeat center 50%;
}
.linkImageViewDisabled {
	background: url(../images/linkImageViewDisabled.png) no-repeat center 50%;
}
.buttonImageGoTo {
	background: url(../images/linkImageGoTo.png) no-repeat center 50%;
}
.linkImageGoTo {
	background: url(../images/linkImageGoTo.png) no-repeat center 50%;
}
.buttonImageBack {
	background: url(../images/linkImageBack.png) no-repeat center 50%;
}
.linkImageBack {
	background: url(../images/linkImageBack.png) no-repeat center 50%;
}
.buttonImageViewGantt {
	background: url(../images/linkImageViewGantt.png) no-repeat center 50%;
}
.linkImageViewGantt {
	background: url(../images/linkImageViewGantt.png) no-repeat center 50%;
}
.buttonImageUpload {
	background: url(../images/linkImageUpload.png) no-repeat center 50%;
}
.linkImageUpload {
	background: url(../images/linkImageUpload.png) no-repeat center 50%;
}
.buttonImageUploadDisabled {
	background: url(../images/linkImageUploadDisabled.png) no-repeat center 50%;
}
.linkImageUploadDisabled {
	background: url(../images/linkImageUploadDisabled.png) no-repeat center 50%;
}
.buttonImageDownload {
	background: url(../images/linkImageDownload.png) no-repeat center 50%;
}
.linkImageDownload {
	background: url(../images/linkImageDownload.png) no-repeat center 50%;
}
.buttonImageDownloadDisabled {
	background: url(../images/linkImageDownloadDisabled.png) no-repeat center 50%;
}
.linkImageDownloadDisabled {
	background: url(../images/linkImageDownloadDisabled.png) no-repeat center 50%;
}
.buttonImageActivate {
	background: url(../images/linkImageActivate.png) no-repeat center 50%;
}
.linkImageActivate {
	background: url(../images/linkImageActivate.png) no-repeat center 50%;
}
.buttonImageActivateDisabled {
	background: url(../images/linkImageActivateDisabled.png) no-repeat center 50%;
}
.linkImageActivateDisabled {
	background: url(../images/linkImageActivateDisabled.png) no-repeat center 50%;
}
.buttonImageInfo {
	background: url(../images/linkImageInfo.png) no-repeat center 50%;
}
.linkImageInfo {
	background: url(../images/linkImageInfo.png) no-repeat center 50%;
}
.buttonImageHelp {
	background: url(../images/linkImageHelp.png) no-repeat center 50%;
}
.linkImageHelp {
	background: url(../images/linkImageHelp.png) no-repeat center 50%;
}
.buttonImageEmail {
	background: url(../images/linkImageEmail.png) no-repeat center 50%;
}
.linkImageEmail {
	background: url(../images/linkImageEmail.png) no-repeat center 50%;
}
.buttonImageEmailDisabled {
	background: url(../images/linkImageEmailDisabled.png) no-repeat center 50%;
}
.linkImageEmailDisabled {
	background: url(../images/linkImageEmailDisabled.png) no-repeat center 50%;
}
.buttonImageHistory {
	background: url(../images/linkImageHistory.png) no-repeat center 50%;
}
.linkImageHistory {
	background: url(../images/linkImageHistory.png) no-repeat center 50%;
}
.buttonImageHistoryDisabled {
	background: url(../images/linkImageHistoryDisabled.png) no-repeat center 50%;
}
.linkImageHistoryDisabled {
	background: url(../images/linkImageHistoryDisabled.png) no-repeat center 50%;
}
.buttonImageSendMultiple {
	background: url(../images/linkImageSendMultiple.png) no-repeat center 50%;
}
.linkImageSendMultiple {
	background: url(../images/linkImageSendMultiple.png) no-repeat center 50%;
}
.buttonImageSendMultipleDisabled {
	background: url(../images/linkImageSendMultipleDisabled.png) no-repeat center 50%;
}
.linkImageSendMultipleDisabled {
	background: url(../images/linkImageSendMultipleDisabled.png) no-repeat center 50%;
}
.buttonImageStoreInServer {
	background: url(../images/linkImageStoreInServer.png) no-repeat center 50%;
}
.linkImageStoreInServer {
	background: url(../images/linkImageStoreInServer.png) no-repeat center 50%;
}
.buttonImageStoreInServerDisabled {
	background: url(../images/linkImageStoreInServerDisabled.png) no-repeat center 50%;
}
.linkImageStoreInServerDisabled {
	background: url(../images/linkImageStoreInServerDisabled.png) no-repeat center 50%;
}
.buttonImageStoreLocal {
	background: url(../images/linkImageStoreLocal.png) no-repeat center 50%;
}
.linkImageStoreLocal {
	background: url(../images/linkImageStoreLocal.png) no-repeat center 50%;
}
.buttonImageStoreLocalDisabled {
	background: url(../images/linkImageStoreLocalDisabled.png) no-repeat center 50%;
}
.linkImageStoreLocalDisabled {
	background: url(../images/linkImageStoreLocalDisabled.png) no-repeat center 50%;
}
.buttonImageRestore {
	background: url(../images/linkImageRestore.png) no-repeat center 50%;
}
.linkImageRestore {
	background: url(../images/linkImageRestore.png) no-repeat center 50%;
}
.buttonImageRestoreDisabled {
	background: url(../images/linkImageRestoreDisabled.png) no-repeat center 50%;
}
.linkImageRestoreDisabled {
	background: url(../images/linkImageRestoreDisabled.png) no-repeat center 50%;
}
.buttonImageRestoreFromServer {
	background: url(../images/linkImageRestoreFromServer.png) no-repeat center 50%;
}
.linlImageRestoreFromServer {
	background: url(../images/linkImageRestoreFromServer.png) no-repeat center 50%;
}
.buttonImageRestoreFromServerDisabled {
	background: url(../images/linkImageRestoreFromServerDisabled.png) no-repeat center 50%;
}
.linkImageRestoreFromServerDisabled {
	background: url(../images/linkImageRestoreFromServerDisabled.png) no-repeat center 50%;
}
.buttonImageThumbnail {
	background: url(../images/linkImageThumbnail.png) no-repeat center 50%;
}
.linkImageThumbnail {
	background: url(../images/linkImageThumbnail.png) no-repeat center 50%;
}
.buttonImageThumbnailDisabled {
	background: url(../images/linkImageThumbnailDisabled.png) no-repeat center 50%;
}
.linkImageThumbnailDisabled {
	background: url(../images/linkImageThumbnailDisabled.png) no-repeat center 50%;
}
.buttonImageWeight {
	background: url(../images/linkImageWeight.png) no-repeat center 50%;
}
.linkImageWeight {
	background: url(../images/linkImageWeight.png) no-repeat center 50%;
}
.buttonImageWeightDisabled {
	background: url(../images/linkImageWeightDisabled.png) no-repeat center 50%;
}
.linkImageWeightDisabled {
	background: url(../images/linkImageWeightDisabled.png) no-repeat center 50%;
}
.buttonImageOrder {
	background: url(../images/linkImageOrder.png) no-repeat center 50%;
}
.linkImageOrder {
	background: url(../images/linkImageOrder.png) no-repeat center 50%;
}
.buttonImageOrderDisabled {
	background: url(../images/linkImageOrderDisabled.png) no-repeat center 50%;
}
.linkImageOrderDisabled {
	background: url(../images/linkImageOrderDisabled.png) no-repeat center 50%;
}
/* DIRECTORIO */
#content #contentBody .cargo,
#content #contentBody .InfoCol .cargo{
	font-style: italic;
	font-weight: bold;
}
#content #contentBody .cita{
	padding-left: 20px;
	padding-right: 20px;
	font-style: italic;
	font-weight: bold;
}
#content #contentBody .InfoCol {
	margin: 10px 0px 20px 0px;
	clear: both;
	display: block;
	color: #333333;
}
#content #contentBody .InfoCol h2{
	margin-bottom: 0px;
	clear: both;
}
#content #contentBody .InfoCol h3{
	margin-top: 19px;
	margin-left: 130px;
	padding-left: 0;
	color: #006699;
	clear: both;
}
#content #contentBody .InfoCol p{
	padding-left: 0px;
	margin: 0px 0px 0px 130px;
	text-align: justify;
	clear: both;
}
#content #contentBody .InfoCol img{
	float: left;
	margin: 19px 0px 0px 10px;
	border: solid #006699 1px;
	padding: 1px;
	position: absolute;
}
#content #contentBody .InfoCol h3 img{
	float: left;
	margin: 0px 0px 0px -119px;
	border: solid #006699 1px;
	padding: 1px;
	position: absolute;
}

/* Estilos Mýdulo Noticias */
.news01 ul li, .news02 ul li{
	margin: 0px;
	padding:0px;
}

.news01, .news02 {
	color: #006699;
	font-weight: normal;
	text-align: left;
	padding-bottom:16px;
	margin-bottom: 18px;
/*	background: url(../images/orange-sep.gif) bottom no-repeat; */
}
.news01 h3, .news02 h3  {
	margin: 0px;
	color: #666666;
	font-size: 1em;
	font-weight: normal;
}
.news01 h4, .news02 h4 {
	margin: 0px;
	color: #006699;
	font-size: 1em;
	font-weight: bold;
}
.news01 h2, .news02 h2 {
	margin: 0px;
	color: #666666;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
}
.news01 p, .news02 p {
	padding-right: 8px;
}
.news01 h1, .news02 h1 {
	margin: 15px 0px 0px;
	color: #0061AA !important;
	font-size: 1.5em;
	font-weight: bold;
	text-align: justify;
	/*border-bottom: double 3px #FF6600;	
	border-top: solid 1px #666666;
	background-color:#e5f4ff; */
	padding:4px 8px 4px 8px;
}
.news02 h1 {
	color: #FF6600 !important;
}
.news01 h1 a, .news02 h1 a {
	color: #FF6600;
	text-decoration: none;
}
.news01 h1 a:hover, .news02 h1 a:hover {
	color: #FAAF25;
}
.news01 fieldset {
	margin-top: 5px;
}
.news01 fieldset label {
	width: 150px;
	font-size: 1em;
}
.newsImage {
	border-bottom: #006699 1px solid;
	border-left: #006699 1px solid;
	margin: 0px 10px 5px;
	border-top: #006699 1px solid;
	border-right: #006699 1px solid;
	text-align: left;
}
.masInfo {
	margin: 5px 0px 8px;
	text-align: right;
}
.masInfo a {
	padding: 0px 0px 0px 15px;
	background: url(../images/ico_vermasinfo.gif) no-repeat left 50%;
	color: #003366;
	font-size: 1.1em;
	font-weight: normal;
	text-decoration: none;
}
.masInfo a:hover {
	color: #E6B544;
	text-decoration: none;
}
.actionBox {
	border-bottom: #CCCCCC 1px solid;
	margin: 0px 0px 15px;
	width: 520px !important;
	border-top: #CCCCCC 1px solid;
	padding: 5px;
	color: #006699;
	font-size: 1.2em;
	height: 14px !important;
}
.actionBox2 {
	border-bottom: #CCCCCC 1px solid;
	margin: 0px 0px 15px;
	width: 520px !important;
	border-top: #CCCCCC 1px solid;
	padding: 5px;
	color: #006699;
	font-size: 1.2em;
	height: 14px !important;
}
.actionBox2 {
	text-align: right;
}
.actionBox ul {
	margin: 0px;
	display: inline;
}
.actionBox2 ul {
	margin: 0px;
	display: inline;
}
.actionBox ul li {
	margin: 0px 0px 0px 10px;
	display: inline;
}
.actionBox2 ul li {
	margin: 0px 0px 0px 10px;
	display: inline;
}
.actionBox li a {
	voice-family: inherit;
	text-decoration: none;
	height: 18px;
}
.actionBox2 li a {
	voice-family: inherit;
	text-decoration: none;
	height: 18px;
}
.actionBox li a:link {
	padding: 5px 0px 3px 22px;
	background-repeat: no-repeat;
	color: #003366;
}
.actionBox li a:visited {
	padding: 5px 0px 3px 22px;
	background-repeat: no-repeat;
	color: #003366;
}
.actionBox2 li a:link {
	padding: 5px 0px 3px 22px;
	background-repeat: no-repeat;
	color: #003366;
}
.actionBox2 li a:visited {
	padding: 5px 0px 3px 22px;
	background-repeat: no-repeat;
	color: #003366;
}
.actionBox li a:hover {
	padding: 5px 0px 3px 22px;
	background-repeat: no-repeat;
	color: #993300;
	text-decoration: underline;
}
.actionBox2 li a:hover {
	padding: 5px 0px 3px 22px;
	background-repeat: no-repeat;
	color: #993300;
	text-decoration: underline;
}
.actionBox li a.enviar:link {
	background: url(../images/ico_enviar.gif) no-repeat left 50%;
}
.actionBox li a.enviar:visited {
	background: url(../images/ico_enviar.gif) no-repeat left 50%;
}
.actionBox li a.comentar:link {
	background: url(../images/ico_comentar.gif) no-repeat left 50%;
}
.actionBox li a.comentar:visited {
	background: url(../images/ico_comentar.gif) no-repeat left 50%;
}
.actionBox li a.fotos:link {
	background: url(../images/ico_fotos.gif) no-repeat left 50%;
}
.actionBox li a.fotos:visited {
	background: url(../images/ico_fotos.gif) no-repeat left 50%;
}
.actionBox li a.audio:link {
	background: url(../images/ico_audio.gif) no-repeat left 50%;
}
.actionBox li a.audio:visited {
	background: url(../images/ico_audio.gif) no-repeat left 50%;
}
.actionBox li a.video:link {
	background: url(../images/ico_video.gif) no-repeat left 50%;
}
.actionBox li a.video:visited {
	background: url(../images/ico_video.gif) no-repeat left 50%;
}
.actionBox li a.imprimir:link {
	background: url(../images/ico_imprimir.gif) no-repeat left 50%;
}
.actionBox li a.imprimir:visited {
	background: url(../images/ico_imprimir.gif) no-repeat left 50%;
}
.actionBox li a.letterLow:link {
	padding-left: 16px;
	background: url(../images/ico_letterLow.gif) no-repeat left 50%;
}
.actionBox li a.letterLow:visited {
	padding-left: 16px;
	background: url(../images/ico_letterLow.gif) no-repeat left 50%;
}
.actionBox2 li a.letterLow:link {
	padding-left: 16px;
	background: url(../images/ico_letterLow.gif) no-repeat left 50%;
}
.actionBox2 li a.letterLow:visited {
	padding-left: 16px;
	background: url(../images/ico_letterLow.gif) no-repeat left 50%;
}
.actionBox li a.letterLow:hover {
	padding-left: 16px;
	text-decoration: none;
}
.actionBox2 li a.letterLow:hover {
	padding-left: 16px;
	text-decoration: none;
}
.actionBox li a.letterPlus:link {
	background: url(../images/ico_letterPlus.gif) no-repeat left 50%;
}
.actionBox li a.letterPlus:visited {
	background: url(../images/ico_letterPlus.gif) no-repeat left 50%;
}
.actionBox2 li a.letterPlus:link {
	background: url(../images/ico_letterPlus.gif) no-repeat left 50%;
}
.actionBox2 li a.letterPlus:visited {
	background: url(../images/ico_letterPlus.gif) no-repeat left 50%;
}
/* Fin Mýdulo Noticias */

/* Mýdulo de Registro */
#registrationLoginFormInclude {
	margin: 20px 0px 0px;
	width: 180px;
	padding: 5px 0px 0px;
	background: url(../images/bkg_login.png) no-repeat 50% top;
	color: #000000;
	font-weight: normal;
	text-align: left;
	height: 160px;
}
#registrationLoginFormInclude label {
	margin: 5px 10px 0px 15px;
	padding: 10px 0px 0px;
	display: block;
	font-weight: bold;
	text-align: left;
}
#registrationLoginFormInclude p {
	width: 162px;
	clear: both;
	display: block;
	height: auto;
}
#registrationLoginFormInclude .textbox {
	border: #CC6600 1px solid;
	margin: 2px 10px 0px 15px;
	width: 142px;
	float: left;
	display: inline;
	background-color: #FFFFFF;
	font-size: 1.1em;
	height: 18px;
}
#registrationLoginFormInclude .button {
	border: #FF9900 1px solid;
	margin: 8px 2px 0px 0px;
	float: right;
	display: inline;
	background-image: url(../images/bkg_button.png);
	background-color: transparent;
	background-repeat: repeat-x;
	background-position: center center;
	color: #006699;
	font-size: 12px;
	height: 21px;
	cursor: pointer;
}
#registrationLoginFormInclude p a {
	border: #FF9900 1px solid;
	margin: 8px 2px 0px 0px;
	float: right;
	display: inline;
	background-image: url(../images/bkg_button.png);
	background-color: transparent;
	background-repeat: repeat-x;
	background-position: center center;
	color: #006699;
	font-size: 12px;
	line-height: 19px;
	text-decoration: none;
	height: 21px;
	vertical-align: baseline;
	cursor: pointer;
}
#registrationLoginFormInclude p a:link {
	color: #006699;
	text-decoration: none;
}
#registrationLoginFormInclude p a:visited {
	color: #006699;
	text-decoration: none;
}
#registrationLoginMessage #success {
	margin: 20px 0px 0px;
	width: 180px;
	padding: 5px 0px 0px;
	background: url(../images/bkg_login_result.png) no-repeat 50% top;
	color: #000000;
	font-weight: normal;
	text-align: left;
	height: 80px;
}
#registrationLoginMessage #failure {
	margin: 20px 0px 0px;
	width: 180px;
	padding: 5px 0px 0px;
	background: url(../images/bkg_login_result.png) no-repeat 50% top;
	color: #000000;
	font-weight: normal;
	text-align: left;
	height: 80px;
}
#registrationLoginMessage #inProgress {
	margin: 20px 0px 0px;
	width: 180px;
	padding: 5px 0px 0px;
	text-align: left;
	height: 20px;
}
#registrationLoginMessage p {
	margin: 5px 10px 0px 15px;
	width: 162px;
	clear: both;
	padding: 5px 5px 0px 0px;
	display: block;
	font-weight: normal;
	text-align: left;
	height: auto;
}
.formSuccessMessage,.formFailureMessage {
	font-weight: bold;
	font-size: 1.4em;
	border: 1px solid;
	padding: 8px 30px 8px 30px;
	margin: 8px;
	text-align: center;
}
.formSuccessMessage {
	color: #007D62;
	border-color: #007D62;
}
.formFailureMessage {
	color: #B22222;
	border-color: #B22222;
}


/* Fin Mýdulo Registro */

#content #contentBody table.tprensa * {
	font-family: Arial, Helvetica, sans-serif, Verdana;
	font-size: 1em;
}

/* Link de býsqueda */
a.searchLink:link, a.searchLink:active {
	font-weight: bold;
	padding: 0 5px 0 20px;
	margin: 3px;
	text-decoration: none;
}
a.searchLink:hover, a.searchLink:active {
	text-decoration: none;
}
a.searchLink:link, a.searchLink:visited {
	color:#0054A4;
	background-image: url(../images/icon_search.png);
	background-position:left top;
	background-repeat: no-repeat;
}
a.searchLink:hover, a.searchLink:active {
	color:#009900;
}

#selectCategory {
	margin-top:15px;
}
#documentsShow div.document p {
	font-size: 1.2em !Important;
}
#documentsShow label {
	vertical-align: text-top !Important;
}
/*#documentsShow label, .downloadLabel {
	width: 80px;
	float: left;
	font-weight: bold;
	text-align: right;
	padding-right: 8px;
	display: block;
	vertical-align: top;
	margin-left: -95px;
}*/
#documentsShow label{
	width: 95px;
	float: left;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	display: block;
	vertical-align: top;
	margin-left: -108px;
/*	border-right: solid  2px #999999; */
}

#documentsShow p {
	clear: both;
	margin-top: 4px;
	padding-top: 4px;
	margin-left: 105px;
	padding-right: 10px;
	width:345px;
}
#content #contentBody  div.document  h3 {
	margin: 10px 0px 0px 10px;
	padding: 0px;
	color: #0061AA;
}
.document {
	margin: 5px 5px 10px 5px;
	display: block;
	width: 530px;
	padding-bottom:10px;
	background: #FFFFFF url(../images/bkg_documentLabel.gif) repeat-y;
	border: 1px solid #0061AA;
}
.curved {
-khtml-border-radius: 10px;
-opera-border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/* behavior: url(border-radius.htc); */;
}
.curvedBotomRight {
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
-opera-border-bottom-right-radius: 10px;
-khtml-border-bottom-right-radius: 10px;
border-radius: 10px;
/* behavior: url(border-radius.htc); */;
}
.curvedBotomLeft {
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;
-opera-border-bottom-left-radius: 10px;
-khtml-border-bottom-left-radius: 10px;
/* behavior: url(border-radius.htc); */;
}
.curvedBotom {
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-opera-border-bottom-right-radius: 10px;
-opera-border-bottom-left-radius: 10px;
-khtml-border-bottom-right-radius: 10px;
-khtml-border-bottom-left-radius: 10px;
/* behavior: url(border-radius.htc); */;
}

div.document label {
	color: #0061AA;
}
#botonDescargar a{
/*	float:right;*/
	position:absolute;	
	width:50px;
	height:53px;
	display:block;
	margin-left:473px;
	margin-top: 10px;
	background-image:url(../images/dot_descargar.png);
/*	background-image:url(../images/dot_descargar.gif); */
}



.downloadForm p {
	text-align: right;
	float: right;
	margin-right: 10px;
}
.downloadForm form {
	text-align: right;
}
.documentDownload {
	background: url(../images/linkImageDownload.png) no-repeat right 50%;
	border: none;
	font-size: 1.1em !important;
	cursor: pointer;
	font-weight: bold;
	padding-right: 20px;
}

/* PUBLICACIONES */
#content #contentBody #containerPublicaciones {
	width:540px;
/*	background-color:#efefef; */
	margin:15px 20px 0px 10px;
	padding:0px;
	display:block;
}

/*  publicaciones individuales */

.paginateBar, .moreNews {
	background-color: #FF9C59;
	border: 1px solid #FF6600;
	height: 2.2em;
}
.moreNews{
	float: right;
	width: 220px;
}
.moreNews:hover {
	background-color: #FF6600;
}
.changePages{
	padding-right: 8px;
	padding-left: 8px;
	vertical-align: middle;
	line-height: 2.2em;
	padding-top: .5em;
	padding-bottom: .5em;
	color: #FFFFFF !important;
}
a.changePages{
	text-decoration: none;
}
a.changePages:link, a.changePages:visited {
	color: #FFFFFF !important;
}
a.changePages:hover, a.changePages:active {
	color: #FFFFFF !important;
	background-color: #FF6600;
}
a.tooltip img, a.tooltipWide img{
	border: none;
}
a.tooltip:hover,a.tooltipWide:hover {
	background:#ffffff; 
	text-decoration:none;
} /*BG color is a must for IE6*/
a.tooltip span,a.tooltipWide span {
	display:none; 
	padding:2px 3px; 
	margin-left: 18px; 
	width:150px;
	font-weight: normal !important;
	z-index: 1000;
}
a.tooltipWide span {
	width:300px;
}
a.tooltip:hover span, a.tooltipWide:hover span{
	display: inline; 
	position: absolute; 
	background: #ffffff; 
	border:1px solid #FF6600; 
	color: #006699;
}
table.prensa td{
	padding: 5px;
}
table.prensa a{
	text-decoration: none;
}
table.prensa a:hover{
	text-decoration: underline;
}







/* SOLAPAS  */
#content #contentBody #containerPublicaciones  ul.solapas {
	width:540px;
	height:60px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	clear: right;
	padding-bottom: 20px;
}

#content #contentBody #containerPublicaciones ul.solapas li.solapa1,
#content #contentBody #containerPublicaciones ul.solapas li.solapaLink{
	float: left;
	width:270px;
	line-height:80px;
	padding:0px;	
	display:inline;
	margin:0px;
	font-weight:bold;
	text-align: center;
}
#content #contentBody #containerPublicaciones ul.solapas li.solapa1 {
	background:url(../images/tab_active.gif) #FFFFFF no-repeat;
	color: #FFFFFF;
	width:270px;
}
#content #contentBody #containerPublicaciones ul.solapas li.solapaLink{
	padding:0px;
}

#content #contentBody #containerPublicaciones ul.solapas  li.solapaLink a,
#content #contentBody #containerPublicaciones ul.solapas  li.solapa1 a {
	width:270px;
	height:65px;
	display:block;
	font-size:1.2em;
	text-decoration:none;
}
#content #contentBody #containerPublicaciones ul.solapas  li.solapaLink a {
	color:#FFFFFF;
	background:url(../images/tab_inactive.gif) no-repeat;
}
#content #contentBody #containerPublicaciones ul.solapas li.solapaLink a:hover {
	background:url(../images/tab_over.gif)  no-repeat;
}

#searchOptions label {
	width: 150px;
}
#searchOptions fieldset, #keyWordSearch{
margin: 8px;
}
#keyWordSearch a:link, #keyWordSearch a:visited{
	text-decoration: none;
	color: #0061AA;
}
#content #contentBody #keyWordSearch a:hover{
	text-decoration: underline;
	color: #003a66;
}
#searchOptions fieldset, #selectCategory fieldset {
-khtml-border-radius: 10px;
-opera-border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
/* behavior: url(border-radius.htc); */;
}
#searchOptions, #selectCategory {
padding-bottom: 30px;
margin-bottom: 30px;
background: url(../images/tabs_bottom4.gif) bottom repeat-x;
}


fieldset label.wide {
	float: left;
	width: 400px;
}
fieldset input[type=checkbox] {
	float: left;
	margin-left: 8px;
	width: 20px;
}
fieldset {
	border: 2px solid #FFAA61;
	-khtml-border-radius: 1em;
	-o-border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
fieldset input[type=button],
fieldset input[type=submit],
fieldset input[type=reset] {
	text-align: center !important;
}
.floatLeft{
	float: left;
}
/* Para que corte el borde del fieldset en Opera */
fieldset legend {
	background-color: #FFFFFF;
}

.prensaButton {
	padding: 8px 15px 8px 15px;
	background-color: #dfdfdf;
	text-align: center;
}