#rightColumn { 
	width: 1275px;
}
#wrapper { 
	width: 1470px;
}
#contentWrapper { 
	width: 1470px;
}
#header { 
	width: 1470px;
}
#footer {
	width: 1470px;
}
#rightColumn p {
	width: 1020px;
}
#rightColumn fieldset p {
	width: 980px;
}
#rightColumn #contentBody p {
	width: 480px;
}
#contentBody {
	float: left;
	width: 520px;
}
.wide-chz-select {
	min-width: 700px;
}
 #rightColumn {
    width: 1050px;
}
.home  #rightMenu {
    width: 420px;
    float: right;
    margin-right: 20px;
    margin-top: -423px;
}
#titleAgenda{
	width:1050px !important;
}

