#rightColumn { 
	width: 1275px;
}
#wrapper { 
	width: 1470px;
}
#contentWrapper { 
	width: 1470px;
}
#header { 
	width: 1470px;
}
#footer {
	width: 1470px;
}
#rightColumn p {
	width: 1020px;
}
#rightColumn fieldset p {
	width: 980px;
}
#rightColumn #contentBody p {
	width: 780px;
}
#contentBody {
	float: left;
	width: 920px;
}
.wide-chz-select {
	min-width: 700px;
}
#rightColumn.withRigthBanners {
    width: 950px;
}
#rightColumn.withRigthBanners p {
	width: 950px;
	text-align: justify;
}
#rightMenu {
	width: 420px;
}
.home  #rightMenu {
    width: 420px;
    float: right;
    margin-right: 20px;
    margin-top: -423px;
}
ul.asideLinks {
	width:380px;
}
#titleAgenda{
	width:950px !important;
}

