<?xml version="1.0" encoding="utf8"?>
<config>
	<system>
		<parameters>
			<debugMode>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</debugMode>
			<developmentMode>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</developmentMode>
			<mailCapture>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</mailCapture>
			<underMaintenance>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</underMaintenance>
			<maintenanceMessage>El sistema permanecerá en mantenimiento por 2 horas, por favor regrese mas tarde.</maintenanceMessage>
			<affiliateUserLoginUnified>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</affiliateUserLoginUnified>
			<hasUnifiedUsernames>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</hasUnifiedUsernames>
			<doLog>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</doLog>
			<applicationTimeZoneGMT>
				<element_type>TIMEZONE</element_type>
			</applicationTimeZoneGMT>
			<dateFormat>
				<value>d-m-Y</value>
				<element_type>Options</element_type>
				<element_options>
					<option_1>d-m-Y</option_1>
					<option_2>m-d-Y</option_2>
					<option_3>d-m-y</option_3>
					<option_4>m-d-y</option_4>
				</element_options>
			</dateFormat>
			<thousandsSeparator>.</thousandsSeparator>
			<decimalSeparator>,</decimalSeparator>
			<numberOfDecimals>2</numberOfDecimals>
			<siteName>SPEED MAX</siteName>
			<siteDescription>Sistema de Administración de Pedidos de SPEED MAX</siteDescription>
			<siteShortName>SpeedMax</siteShortName>
			<webmasterMail>moddebugger@gmail.com</webmasterMail>
			<debugMail>moddebugger@gmail.com</debugMail>
			<fromEmail>facturacion.speedmax@gmail.com</fromEmail>
			<tablePrefix></tablePrefix>
			<news>Novedades: Bienvenido al sistema Speed Max.</news>
			<affiliateNews>Novedades: distinguidos Clientes, Bienvenido al sistema Speed Max.</affiliateNews>
		</parameters>
		<errorReporting>
			<value>E_ALL &amp; ~E_NOTICE ~E_WARNING</value>
			<element_type>Options</element_type>
			<element_options>
				<option_1>NONE</option_1>
				<option_2>E_ALL &amp; ~E_NOTICE</option_2>
				<option_3>E_ALL</option_3>
				<option_4>E_STRICT</option_4>
				<option_5>E_ALL &amp; E_STRICT</option_5>
				<option_6>E_ALL &amp; ~E_NOTICE ~E_WARNING</option_6>
			</element_options>
		</errorReporting>
		<noCheckPermissionActions>
			<index>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</index>
		</noCheckPermissionActions>
		<noCheckLoginActions>
			<index>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</index>
			<maintenance>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</maintenance>
			<usersLoginMaintenance>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersLoginMaintenance>
			<usersLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersLogin>
			<usersDoLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersDoLogin>
			<usersPasswordRecovery>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersPasswordRecovery>
			<usersDoPasswordRecovery>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersDoPasswordRecovery>
			<noPermission>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</noPermission>
			<htmlsShow>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</htmlsShow>
			<affiliatesUsersLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</affiliatesUsersLogin>
			<affiliatesUsersDoLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</affiliatesUsersDoLogin>
			<usersByRegistrationLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationLogin>
			<usersByRegistrationDoLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationDoLogin>
			<usersByRegistrationEdit>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationEdit>
			<usersByRegistrationDoEdit>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationDoEdit>
			<usersByRegistrationPasswordRecovery>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationPasswordRecovery>
			<usersByRegistrationDoPassRecovery>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationDoPassRecovery>
			<catalogPricesAutoUpdate>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</catalogPricesAutoUpdate>
		</noCheckLoginActions>
		<rowsPerPage>20</rowsPerPage>
		<language>esp</language>
		<receiveMailBackup></receiveMailBackup>
	</system>
	<mluse>
		<language>esp</language>
	</mluse>
	<users>
		<licenses>5</licenses>
	</users>
	<email>
		<mode>
			<value>SMTP</value>
			<element_type>Options</element_type>
			<element_options>
				<option_1>PHP</option_1>
				<option_2>SMTP</option_2>
			</element_options>
		</mode>
		<smtpOptions>
			<smtpHost>mail.anmagaexport.modulserver.com.ar</smtpHost>
			<smtpPort>587</smtpPort>
			<smtpUsername>anmagaex</smtpUsername>
			<smtpPassword>Anmaga</smtpPassword>
			<smtpSsl>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</smtpSsl>
		</smtpOptions>
	</email>
	<catalog>
		<image>
			<maxSize>100000</maxSize>
			<formats>
				<jpeg>
					<value>YES</value>
					<element_type>YES/NO</element_type>
				</jpeg>
				<png>
					<value>YES</value>
					<element_type>YES/NO</element_type>
				</png>
			</formats>
			<thumbnail>
				<resizeFormat>3</resizeFormat>
				<width>50</width>
				<height>70</height>
			</thumbnail>
		</image>
		<pricesAutoUpdate>
			<updatesDir>updates</updatesDir>
			<processedDir>updates/processed</processedDir>
		</pricesAutoUpdate>
	</catalog>
	<orders>
		<articlesPerOrder>11</articlesPerOrder>
		<sendMailOnCreation>
			<value>YES</value>
			<element_type>YES/NO</element_type>
		</sendMailOnCreation>
		<recipients>facturacion.anmaga@gmail.com,jhernandez2412@gmail.com,p.petrelli@speedmax.com.ve,e.alvarado@speedmax.com.ve,f.barrios@speedmax.com.ve,l.navarro@speedmax.com.ve</recipients>
		<exportComment>Exportado a xml</exportComment>
		<ordersPerPage>25</ordersPerPage>
		<daysByDefault>15</daysByDefault>
		<profitRoot>speed-server</profitRoot>
		<profitCode></profitCode>
	</orders>
	<surveys>
		<useCaptcha>
			<value>NO</value>
			<element_type>YES/NO</element_type>
		</useCaptcha>
		<showInclude>
			<value>YES</value>
			<element_type>YES/NO</element_type>
		</showInclude>
		<graphics>
			<showTotals>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</showTotals>
			<colors>
				<legend>black</legend>
				<labels>blue</labels>
				<totals>darkred</totals>
				<barColor>#013e99</barColor>
				<background>#fbe5a8</background>
			</colors>
		</graphics>
	</surveys>
</config>
