# Allow all access
Allow from all

# Deny people from looking at the index and running SSI and CGI
Options All -Indexes

# No php execution
php_flag engine off

# This line will redefine the mime type for the most common
# types of scripts. It will also deliver HTML files as if they
# are text files:
AddType text/plain .shtml .php .phtml .phtm .pl .py .cgi

# In httpd.conf you often find settings that enable server
# side includes generally.

#AddType text/html .shtml
#AddOutputFilter INCLUDES .shtml

# And similar you may have enabled execution of CGI scripts
# for files with suffix .cgi and/or .pl

#AddHandler cgi-script .cgi
#AddHandler cgi-script .pl

Options -ExecCGI