<?xml version="1.0" encoding="utf8"?>
<config>
	<system>
		<parameters>
			<debugMode>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</debugMode>
			<developmentMode>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</developmentMode>
			<mailCapture>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</mailCapture>
			<underMaintenance>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</underMaintenance>
			<maintenanceMessage>El sistema permanecerá en mantenimiento por 2 horas, por favor regrese mas tarde.</maintenanceMessage>
			<affiliateUserLoginUnified>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</affiliateUserLoginUnified>
			<hasUnifiedUsernames>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</hasUnifiedUsernames>
			<doLog>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</doLog>
			<applicationTimeZoneGMT>
				<element_type>TIMEZONE</element_type>
			</applicationTimeZoneGMT>
			<dateFormat>
				<value>d-m-Y</value>
				<element_type>Options</element_type>
				<element_options>
					<option_1>d-m-Y</option_1>
					<option_2>m-d-Y</option_2>
					<option_3>d-m-y</option_3>
					<option_4>m-d-y</option_4>
				</element_options>
			</dateFormat>
			<thousandsSeparator>.</thousandsSeparator>
			<decimalSeparator>,</decimalSeparator>
			<numberOfDecimals>2</numberOfDecimals>
			<siteName>Negociadora Anmaga</siteName>
			<siteDescription>Sistema de Administración de Pedidos de Negociadora Anmaga</siteDescription>
			<siteShortName>Anmaga</siteShortName>
			<webmasterMail>gflamerich@gmail.com</webmasterMail>
			<debugMail>dbugger.modulnet@gmail.com</debugMail>
			<fromEmail>facturacion.anmaga@gmail.com</fromEmail>
			<tablePrefix></tablePrefix>
			<news>Novedades: Bienvenido al sistema Anmaga.</news>
			<affiliateNews>Novedades: distinguidos Clientes, Bienvenido al sistema Anmaga.</affiliateNews>
		</parameters>
		<errorReporting>
			<value>E_ALL &amp; ~E_NOTICE ~E_WARNING</value>
			<element_type>Options</element_type>
			<element_options>
				<option_1>NONE</option_1>
				<option_2>E_ALL &amp; ~E_NOTICE</option_2>
				<option_3>E_ALL</option_3>
				<option_4>E_STRICT</option_4>
				<option_5>E_ALL &amp; E_STRICT</option_5>
				<option_6>E_ALL &amp; ~E_NOTICE ~E_WARNING</option_6>
			</element_options>
		</errorReporting>
		<rowsPerPage>20</rowsPerPage>
		<language>esp</language>
		<receiveMailBackup></receiveMailBackup>
	</system>
	<registration>
		<mode>
			<value>Email Verification</value>
			<element_type>Options</element_type>
			<element_options>
				<option_1>Email Verification</option_1>
				<option_2>Moderated</option_2>
				<option_3>Moderated with Email Verification</option_3>
				<option_4>Open</option_4>
			</element_options>
		</mode>
		<useCaptcha>
			<value>NO</value>
			<element_type>YES/NO</element_type>
		</useCaptcha>
		<newsletterSubscription>
			<value>YES</value>
			<element_type>YES/NO</element_type>
		</newsletterSubscription>
	</registration>
	<users>
		<licenses>5</licenses>
		<documentTypes>
			<dni>1</dni>
			<cuil>2</cuil>
			<otro>3</otro>
		</documentTypes>
	</users>
	<email>
		<mode>
			<value>SMTP</value>
			<element_type>Options</element_type>
			<element_options>
				<option_1>PHP</option_1>
				<option_2>SMTP</option_2>
			</element_options>
		</mode>
		<smtpOptions>
			<smtpHost>mail.anmagaexport.modulserver.com.ar</smtpHost>
			<smtpPort>587</smtpPort>
			<smtpUsername>anmagaex</smtpUsername>
			<smtpPassword>Anmaga</smtpPassword>
			<smtpSsl>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</smtpSsl>
		</smtpOptions>
	</email>
	<calendar>
		<beginOnSunday>
			<value>NO</value>
			<element_type>YES/NO</element_type>
		</beginOnSunday>
		<calendarInHome>3</calendarInHome>
		<calendarPerPage>15</calendarPerPage>
		<calendarEvents>
			<useTopTitle>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useTopTitle>
			<useSubTitle>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useSubTitle>
			<useSummary>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useSummary>
			<useSource>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useSource>
			<useRegions>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useRegions>
			<useCategories>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useCategories>
			<useImages>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useImages>
			<useVideo>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useVideo>
			<useAudio>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useAudio>
			<bodyOnEventsShow>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</bodyOnEventsShow>
			<useSendEvent>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useSendEvent>
		</calendarEvents>
		<comments>
			<useComments>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</useComments>
			<displayEventsComments>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</displayEventsComments>
		</comments>
		<displayEventsComments>
			<value>YES</value>
			<element_type>YES/NO</element_type>
		</displayEventsComments>
	</calendar>
</config>
