@charset "UTF-8";
/* CSS Document */


/*  HEADER 1*/
	.container_16 .header1{
		width:1010px;
		background-image:url(../images/header1_bkg.png);
		background-repeat:repeat-x;
		background-position:top left;
		margin:0;
		padding:0;
	}
	
		/* branding
	----------------------------------------------- */
	h1#branding {
	width:559px;
	height:65px;
	background-image:url(../images/header1_bsas.png);
	background-repeat:no-repeat;
	float:left;
	margin:0;
	padding:0;
	}
	.slogan{
	width:146px;
	height:65px;
	background-image:url(../images/header1_slogan.png);
	background-repeat:no-repeat;
	float:right;
	margin:0;
	padding:0;}
	
	.eyefishContainer{
	position:relative;
	width:210px;
	height:65px;
	background-image:url(../images/header1_eyefish.png);
	background-repeat:no-repeat;
	float:right;}



		.container_16 .colummAgenda{
		width:857px;
		margin-right:0;
		margin-left:17px;
		}
		
		.container_16 .colummSidebar{
		width:113px;
		min-height:720px;
		border: solid 1px #666666;
/*		margin-right:0px;*/
		margin-left:5px;
		overflow:hidden;}

/* Navegacion Menu 1
---------------------------------------------------------------*/
	.boxNav1 ul li.resetFilter{
	border-left: double 5px #999999;
	padding-left:10px;
	}
	.boxNav1 ul li.resetFilter a{
	width:32px;
	height:32px;
	display:block;
	float:left;
	background-image:url(../images/bot_resetFilter.png);
	margin:5px 10px 0 0;	}
	
	.boxNav1{
	width:100%;
	height:46px; 
	background-color:#ccc;
	-moz-background-color:#ff0000;
	display:block;
	float:left;
	margin:0 0 8px 0;
	z-index:1000;}
	
	.boxNav1 select,
	.boxNav1 #kind{-moz-border:none;}

	.boxNav1 ul {
	display:inline; margin: 5px 0 0 0;}
	.boxNav1 ul li {
	height:35px;
	float:left;
	display:block;
	padding: 3px 4px;
	margin:0 3px 0 0;
	border-left: solid 2px #FFFFFF;}	
	.boxNav1 ul li span{clear:both;}	

	.boxNav1 ul li.botSmall { padding:5px 0;}
	.boxNav1 ul li.botSmall a {
	width:26px;
	height:26px;
	display:block;
	background-color:#d7d8d3;
	background-image:url(../images/menuIcon_sprite.gif);
	background-repeat:no-repeat;
	border: solid 1px #999999;}
	
	.menuIcon_01{ background-position:0 5px;}
	.menuIcon_02{ background-position:-26px 5px;}
	.menuIcon_03{ background-position:-52px 5px;}
	.menuIcon_04{ background-position:-78px 5px;}	
	.menuIcon_05{ background-position:-104px 5px;}
	.menuIcon_06{ background-position:-130px 5px;}

	.boxNav1 ul li.botSmall a:hover { border: solid 1px #333333;}
	.boxNav1 ul li.botSmall {border-left:none;}
	/*   cc   */
	.boxNav1 ul li.buttonCC input{
	float:left;margin:12px 4px 0 0;}
	.boxNav1 ul li.buttonCC a{
	width:19px;
	height:13px;
	display:block;
	float:left;
	background-image:url(../images/icon_CC.gif);
	margin:13px 0 0 2px;}
	
	/* Calendario  */
	.boxNav1 ul li.pickDate{}
	.boxNav1 ul li.pickDate input{ font-size:11px; color:#000000; float:left;display:block;}
	.boxNav1 ul li.pickDate .dateCalendar{width:15px; height:15px; float:left; display:block; background-image: url(../images/icon_calendarHeader.gif); background-repeat:no-repeat; margin:0 2px 0 2px;}
	.boxNav1 ul li.pickDate a.dateGo{ width:15px; height:15px;  float:left; display:block; background-image:url(../images/bkg_headerButtonBkg.gif); background-repeat:repeat-x; background-position:bottom; background-color:#FFFFFF; border:solid 1px #999999; padding:0 0 0 3px; margin:4px 0 0 5px;}


/*  MENU 2 , DE SOLAPAS, ABAJO DE TODO */


/* Indicador del mes */
	.boxNavMonth{
	width:25%;
	display:inline;
	float:left;
	background-color:#FFFF00;}

/* Boton FullScreen */
	.boxFullscreen{
	width:75%;
	float:left;
	display:inline;
	text-align:right;}


/*   AGENDA     --------------------------*/
	.boxAgendaContainer{
	width:100%;
		border:none !Important}
/*border:solid 1px #666666;}
*/	
		#calendar {
		width: 857px;
		margin: 0 auto;
		}
		
		.scrollContainerAgenda{
		border-top:#FF0000;
		width:857px;
		height:420px;
		overflow:scroll;}
		
		/* ancho de los TD de días*/
		/* debe ser igual al de .fc-widget-header (en fullcalendar.js)*/
	
/*	FONDO GRIS   --------------*/
	.fc-view-month  .fc-border-separate, /*  vista MENSUAL */
	table.fc-agenda-days /* vistas dSEMANAL y DIARIAS */
	/*table.agendaBkgGris*/{
	background-color:#e7e7e7;
	background-image: url(../images/agenda_bkg-Gris.png);
	background-position: 0 0;
	background-repeat:no-repeat;}

/* ----------------------------------------*/ 
/* ----------------------------------------*/ 


/*   Complementos de fullcalendar.css  */
	
/* ----------------------------------------*/ 
/* ----------------------------------------*/ 
	.fc-header .fc-header-left{
	width:125px;
	padding:8px 0 0 8px;
	}
	.fc-header .fc-header-center{
/*	width:250px;*/
	padding:8px 0 8px 0;
	text-align:left;
	}
	.fc-header .fc-header-right{
	padding:8px 8px 0 0;
	}
	
	.fc-header-left,
	.fc-header-center{
	background-color:#fdbc08;
	background-image:url(../images/bkg_month.gif);
	background-repeat: repeat-x;
	background-position: top left;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	}
	.fc-header .fc-header-right{
	background-color:#fdbc08;
	background-image:url(../images/bkg_month.gif);
	background-repeat: repeat-x;
	background-position: top left;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	}
	
	.fc-button-content{
/*	width:110px;*/
	font-weight:bold;
	text-transform:capitalize;}
	
	.fc-header-right{
	background-color:#dfdfdf;
	background-image:url(../images/bkg_header-right.gif);
	background-repeat: repeat-x;
	background-position: top left;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	}
		
	.fc-header-title h2 {
	font-size:18px;
	}
	
	
	 /*   DETALLES DE CUADRO EVENTO -------------------------*/
/*	 .eventoContainer */
	.fc-event .fc-event-inner{
	 position:relative;}
	 
	 	.eventoContent{
/*		width:115px;*/
		width:100%;
		height:auto;
		display:block; /* newnew*/
		line-height:1em;
		padding:0 0 5px 0;
		
		zoom: 1;
		filter: alpha(opacity=90);
		opacity: 0.9;

		    -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
    		border-radius: 0 0 5px 5px;
			behavior: url(css/ie-pie/PIE.htc);		
	}
		/*
		.eventoFooter{
		width:115px;
		height:7px;
		display:block;
		background-image: url(../images/backgroundsH.png);
		background-repeat:repeat-x;
	
		    -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
    		border-radius: 0 0 5px 5px;
			behavior: url(css/ie-pie/PIE.htc);		
		/*  PIE BEHAVIOR en ie7.css, para que RADIUS CORNER funcione en ie6, IE7, IE8*/
	/*	}*/
	 
			 /* HORARIO*/
			 .fc-event-time{width:115px;
			/*width:100%;*/
				height:15px;
				padding:9px 0 0 0;
				display:block;
				background-image: url(../images/backgroundsH.png);
				background-repeat:repeat-x;
				color:#000;
				font-size:10px;
				font-weight:bold;
				clear:both;
				
		    -webkit-border-radius: 7px 0 0 0;
		    -moz-border-radius: 7px 0 0 0;
    		border-radius: 7px 0 0 0;
			behavior: url(css/ie-pie/PIE.htc);	
				/*  PIE BEHAVIOR en ie7.css, para que RADIUS CORNER funcione en ie6, IE7, IE8*/				
				}
		 .fc-view-agendaDay .fc-event-time {width:100%;} /* newnew*/		
				
			/* TITULO    */
			.fc-event-title{
			display:block;
			margin:0 2px 0 3px;
			padding:3px 0 0 0;
			color:#000;
			font-weight:bold;
			zoom: 1;
		filter: alpha(opacity=100);
		opacity: 1;}
			
			.fc-event-title	img{
			text-align:right;
			border: solid 1px #FFF;
			margin:3px 2px 2px 2px;
			-moz-border-radius: 3px;
			border-radius: 3px;
				behavior: url(css/ie-pie/PIE.htc); 
			}
			
			/*  TEXTO  */
			.fc-event-text{
			font-weight:normal;
			display:block;}
			
			/*  BOTONERA --------*/
			 ul.botoneraSmallEvento{
			position:absolute;
			top:0;
			right:0;
			/*background-color:#0033CC;*/}
			
				   ul.botoneraSmallEvento li{
					float:right;
					display:inline;
					margin-right:2px;
					}
					ul.botoneraSmallEvento li a{
					width:15px;
					height:15px;
					display:block;
					padding:0;
					background-image:url(../images/evento_sprite.png);
					background-repeat:no-repeat;
					}
					/**/
						ul.botoneraSmallEvento li.eventoBot01 a{
						background-position:-248px 0;
						}
						ul.botoneraSmallEvento li.eventoBot02 a{
						background-position:-232px 0;
						}
						

			/*   COLORES DE HEADERS, FOOTERS y BOTONERAS segun seccion 	*/
			.amarillo .fc-event-time {
			background-position:0 0;}
			.amarillo {
			background-color:#FFCC00;}
/*			.amarillo .eventoFooter {
			background-position:0 -120px;}*/
			.amarillo ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px 0;}
			.amarillo ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px 0;}
			.amarillo {
			border:1px solid #FFCC00;
			-moz-border-radius: 4px;
			border-radius: 4px;

			}
						
			.verde1 .fc-event-time {
			background-position:0 -18px;}
			.verde1 {
			background-color:#88d852;}
/*			.verde1 .eventoFooter {
			background-position:0 -137px;}*/
			.verde1 ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -17px;}
			.verde1 ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -17px;}
			.verde1 {
			border:1px solid #88d852;
			-moz-border-radius: 4px;
			border-radius: 4px;

			}

			.verde2 .fc-event-time {
			background-position:0 -34px;}
			.verde2{
			background-color:#359e7d;}
	/*		.verde2 .eventoFooter {
			background-position:0 -154px;}*/
			.verde2 ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -34px;}
			.verde2 ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -34px;}
			.verde2 {
			border:1px solid #359e7d;
			-moz-border-radius: 4px;
			border-radius: 4px;

			}
						
			.cyan .fc-event-time {
			background-position:0 -52px;}
			.cyan{
			background-color:#3dbeff;}
/*			.cyan .eventoFooter {
			background-position:0 -171px;}*/
			.cyan ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -51px;}
			.cyan ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -51px;}
			.cyan {
			border:1px solid #3dbeff;
			-moz-border-radius: 4px;
			border-radius: 4px;

			}
						
			.rojo .fc-event-time {
			background-position:0 -68px;}
			.rojo {
			background-color:#ff3929;}
/*			.rojo .eventoFooter {
			background-position:0 -188px;}*/
			.rojo ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -68px;}
			.rojo ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -68px;}
			.rojo {
			border:1px solid #ff3929;
			-moz-border-radius: 4px;
			border-radius: 4px;

			}
						
			.naranja .fc-event-time {
			background-position:0 -86px;}
			.naranja {
			background-color:#ff9c0d;}
/*			.naranja .eventoFooter {
			background-position:0 -205px;}*/
			.naranja ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -85px;}
			.naranja ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -85px;}
			.naranja {
			border:1px solid #ff9c0d;
			-moz-border-radius: 4px;
			border-radius: 4px;
			}
						
			.gris .fc-event-time {
			background-position:0 -103px;}
			.gris {
			background-color:#c0c0c0;}
/*			.gris .eventoFooter {
			background-position:0 -222px;}*/
			.gris ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -102px;}
			.gris ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -102px;}
			.gris {
			border:1px solid #c0c0c0;
			-moz-border-radius: 4px;
			border-radius: 4px;
			}
			
			amarillo:active, verde1:active, verde2:active, cyan:active, rojo:active, 
			naranja:active, gris:active {
			zoom: 1;
			filter: alpha(opacity=40);
			opacity: 0.4;}



/*   AGENDA SEMANAL  */
/* ----------------------------------------*/ 

	/* AGENDA MENSUAL - ancho de los dias de semana */
		.fc-agenda .fc-mon, 
		.fc-agenda .fc-tue, 
		.fc-agenda .fc-wed, 
		.fc-agenda	.fc-thu, 
		.fc-agenda .fc-fri, 
		.fc-agenda .fc-sat, 
		.fc-agenda .fc-sun {
		width:14.28%;
		}
		.fc-agenda .fc-agenda-axis {
		width: 50px;}		
		
		/*agenda semanal */
		.fc-view-agendaWeek .fc-agenda-axis	{width:5%}
		.fc-view-agendaWeek .fc-agenda-allday .fc-agenda-axis {width:5%}
		
		.fc-view-agendaWeek .fc-mon, 
		.fc-view-agendaWeek .fc-tue, 
		.fc-view-agendaWeek .fc-wed, 
		.fc-view-agendaWeek	.fc-thu, 
		.fc-view-agendaWeek.fc-fri, 
		.fc-view-agendaWeek .fc-sat, 
		.fc-view-agendaWeek .fc-sun  {
		width:13.3%;
		}
		.fc-view-agendaWeek  .fc-agenda-slots  .fc-agenda-axis{
		width:5%;}
		.fc-view-agendaWeek .fc-agenda-slots .fc-mon,
		.fc-view-agendaWeek .fc-agenda-slots .fc-tue,
		.fc-view-agendaWeek .fc-agenda-slots .fc-wed,
		.fc-view-agendaWeek .fc-agenda-slots .fc-thu,
		.fc-view-agendaWeek .fc-agenda-slots .fc-fri,
		.fc-view-agendaWeek .fc-agenda-slots .fc-sat,
		.fc-view-agendaWeek .fc-agenda-slots .fc-sun {
		width:13.3%;
		}
			
		.fc-agenda .fc-agenda-axis,
		.fc-view-agendaWeek .fc-agenda-axis,	/* agenda semanal*/
		.fc-view-agendaWeek .fc-agenda-slots .fc-agenda-axis,	/* agenda semanal*/
		.fc-view-agendaWeek .fc-agenda-allday .fc-agenda-axis, 	/* agenda semanal*/
		
		.fc-view-agendaDay  .fc-agenda-slots  .fc-agenda-axis /* agenda diaria*/ {
			color:#FFF;
/*			font-size:11px; */
			font-weight:bold;
			background-image: url(../images/backgroundsH.png);
			background-repeat:repeat-x;
			background-position:0 -239px;
			background-color:#eeab03;
			padding: 0 4px 0 2px;
			}
/*			fc-view-agendaDay .fc-agenda-axis{
			width: 50px;}
	*/	
		
		/* AGENDA DIARIA */		
		.fc-view-agendaDay .fc-today{/*height: 710px;*/ height:auto;}
		
		.fc-view-agendaDay .fc-agenda-allday .fc-agenda-axis{	width:5%;}
		
		.fc-view-agendaDay  .fc-agenda-days  .fc-agenda-axis{	width:5%;}
		.fc-view-agendaDay .fc-agenda-days .fc-mon,
		.fc-view-agendaDay .fc-agenda-days .fc-tue,
		.fc-view-agendaDay .fc-agenda-days .fc-wed,
		.fc-view-agendaDay .fc-agenda-days .fc-thu,
		.fc-view-agendaDay .fc-agenda-days .fc-fri,
		.fc-view-agendaDay .fc-agenda-days .fc-sat,
		.fc-view-agendaDay .fc-agenda-days .fc-sun {	width:95%; /*display:none;*/}
		
		.fc-view-agendaDay  .fc-agenda-slots .fc-widget-header{	width:5%;}
		.fc-view-agendaDay  .fc-agenda-slots .fc-widget-content{	width:95%;}

/*		.fc-view-agendaDay .fc-agenda-days thead{ display:none;}*/
			
			/*.bkgAllday*/
/*			.fc-agenda-allday .fc-last{
			background-color: #999999;
			zoom: 1;
			filter: alpha(opacity=40);
			opacity: 0.4;}
	*/		
			.fc-agenda-allday .fc-last .fc-day-content,
			.fc-agenda-allday .fc-last .fc-day-content {
			background-color: #999999;
			zoom: 1;
			filter: alpha(opacity=40);
			opacity: 0.4;}
			
			
			.fc-widget-content {  /* <td>, usually */
			border: 1px solid #FF0000;
			}
			
			.fc-view-agendaDay .fc-agenda-allday {/*top:3px;*/}
			
/*   FIN Complementos de fullcalendar.css  */
/* ----------------------------------------*/ 


/* ----------------------------------------*/ 

/* DIVS DE DATOS DE EVENTO*/

/* ----------------------------------------*/ 
	.boxEvento{
	width:115px;
	position:relative;
	z-index:1;
	
	margin:0 0 0 200px;}
	
	/* EVENTO HEADER -------------------*/
	.boxEventoHeader{
	width:115px;
	height:15px;}
		
		.boxEvento .headerOrange{
		background-image: url(../images/evento_header_orange100.png);
		background-position: top left;
		background-repeat:no-repeat;
		}
		
	.boxEventoHeader{
	width:115px;
	height:15px;}
	
	/*  Horario  */
	.boxEventoHeader h2{  
	margin:0 0 0 5px;
	padding:3px 0 0 0;
	color:#FFF;
	font-weight:bold;
	font-size:9px;
	z-index:1000;}
	


	/* EVENTO CONTENT -------------------*/
	.boxEventoContent{
	width:115px;
	height:auto;
	line-height:1em;}

	.boxEventoContent h3{
	font-size:9px;
	line-height:9px;
	margin:0px 3px 0 5px;
	padding-top:2px;}	
	
	.boxEventoContent h3 img{
	text-align:right;
	border: solid 1px #FFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:0 2px 2px 2px;}
	
	.boxEventoContent p{
	font-size:9px;
	margin:0 3px 0 5px;}	
		
		.boxEvento .contentOrange{
		background-image: url(../images/boxEvento_bkg_orange100.png);
		background-position: bottom left;
		background-repeat:no-repeat;
		padding-bottom:7px;
		/*
	zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.4;*/
		}
		
		

	/*   FERIADO      */			
	.boxFeriado {
	background-color:#999999;
	/* transparencia */
	}
			
/*  PENDIENTES  */

	#solapaPendientes{
	width:100%;
	height:20px;
/*	margin-top:-25px;*/
	border-top:solid 4px #333333;
	position:relative}
	
		#solapaPendientes a{
		position:absolute;
		top:0px;
		left:35px;
		width:100px;
		color:#FFFFFF;
		padding:0 10px;
		height:25px;
		margin:0;
		display:block;
		background-color:#333333;
		text-decoration:none;
		text-align:center;
		text-transform:uppercase;
		line-height:25px;
		   -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
    		border-radius: 0 0 5px 5px;
			behavior: url(css/ie-pie/PIE.htc);}
		#solapaPendientes a:hover{
		background-color:#333;
		height:29px;
		line-height:29px;
		/*top:-4px;*/}
		
		#solapaPendientes a:hover.pendientesContainer,
		#solapaPendientes a:active.pendientesContainer {
		visibility:visible;}
		

	.pendientesContainer{
	height:72px;
	display:block;
	visibility: hidden;
	padding-bottom:5px;
	background-color:#FFFFFF;
	border:solid 2px #999999;
	margin:15px 0 10px 0;}
	
	.pendientesArrowLeft, .pendientesArrowRight{width:2.5%; float:left; }
	.pendientesArrowLeft a, .pendientesArrowRight a{line-height:55px;
	width:100%; height:55px; display:block; padding:0; text-align:center; 
	font-weight:bold; font-family:"Arial Ultra", "Arial Black", "Arial Bold", Helvetica, sans-serif; 
	font-size:15px;}
	.pendientesArrowLeft a:hover, .pendientesArrowRight a:hover{
	color:#ccc}
	.pendientesArrowLeft a:active, .pendientesArrowRight a:active{
	color:#666666;	}	
	
	.pendientesContent {width:95%; float:left; height:80px; display:block;}
	
		.pendientesContent ul{
		width:100%;
		height:80px; margin:5px 0;}
			.pendientesContent ul li{
			width:19%;
			height:55px;float:left; margin:0 3px;}
			
		.pendientesContent .solapita{ 
		display:none;
/*		width:15px;
		height:55px; 
		float:left; 
		margin:0;
		display:block;
		   -webkit-border-radius: 10px 0 0 10px;
				-moz-border-radius: 10px 0 0 10px;
				border-radius:10px 0 0 10px;
				behavior: url(css/ie-pie/PIE.htc);*/}
		.pendientesContent ul li .pendienteDato {width:73%; margin:0; height:55px; float:left; display:block;
		padding:5px;
		  -webkit-border-radius: 10px 0 0 10px;
				-moz-border-radius: 10px 0 0 10px;
				border-radius:10px 0 0 10px;
				behavior: url(css/ie-pie/PIE.htc);}
				
		.pendientesContent 	.pendienteDato span {font-weight:bold;}	
		.pendientesContent 	.pendienteBotones{
			float:right; width:20px; margin:0;	height:55px; padding:5px;
		   -webkit-border-radius: 0 10px 10px 0;
				-moz-border-radius:  0 10px 10px 0;
				border-radius: 0 10px 10px 0;
				behavior: url(css/ie-pie/PIE.htc);}
		/*colores */
		.pendientesContent .amarillo {background-color:#FFFFFF;}
		.pendientesContent .amarillo .pendienteDato,
		.pendientesContent .amarillo .pendienteBotones	{background-color: #FFCC00;}
		
		.pendientesContent .verde1 { background-color:#FFFFFF}
		.pendientesContent .verde1 .pendienteDato {background-color:#88d852;}	
		.pendientesContent .verde1 .pendienteBotones	{background-color: #88d852;}
		
		.pendientesContent .verde2 {background-color:#FFFFFF;}
		.pendientesContent .verde2 .pendienteDato,
		.pendientesContent .verde2 .pendienteBotones	{background-color: #009999;}
		
		.pendientesContent .cyan {background-color:#FFFFFF;}
		.pendientesContent .cyan .pendienteDato,	
		.pendientesContent .cyan .pendienteBotones	{background-color: #33ccff;}
		
		.pendientesContent .rojo {background-color:#FFFFFF;}
		.pendientesContent .rojo .pendienteDato,
		.pendientesContent .rojo .pendienteBotones	{background-color: #ff3333;}
		
		.pendientesContent .naranja {background-color:#FFFFFF;}
		.pendientesContent .naranja .pendienteDato,
		.pendientesContent .naranja .pendienteBotones	{background-color: #ff9933;}	
		
		.pendientesContent .gris {background-color:#FFFFFF;}
		.pendientesContent .gris .pendienteDato,
		.pendientesContent .gris .pendienteBotones	{background-color: #CCC;}			


			
			.pendienteBotones a.pendienteEditar,
			.pendienteBotones a.pendienteBorrar{
			width:15px;
			height:15px;
			display:block;
			padding:0;
			margin:0 0 5px 0;
			background-image:url(../images/evento_sprite.png);
			background-repeat:no-repeat;
			}
			.pendienteBotones a.pendienteEditar{
			background-position:-248px -102px;}
			.pendienteBotones a.pendienteBorrar{
			background-position:-232px -102px;}	
	
/*  COLUMNA DERECHA  */
	.container_16 .colummSidebar box{padding:7px;}

			.container_16 .colummSidebar .boxBuscador{
			height:20px;
			padding:7px 7px 10px 7px; 
			border-bottom:solid 1px #666666;}
	
				.textBuscador{
				width:55px;
				height:15px;
				border:solid 1px #999;
				float:left;
				font-size:10px; margin:0 5px 0 0;}
				
				.botBuscador{
				display:block;
				width:35px;
				height:18px;
				float:left;
				background-image:url(../images/icon_buscador.gif);
				background-position:center;
				background-repeat:no-repeat;
				background-color:#9d9d9d;}
						
		#accordion div,
		.colDerToggleContent{ width:100%; padding:0; overflow:hidden;}
		.colDerToggleContent img{ padding:0; margin:0;}
		
		#accordion div ul{margin:10px; padding:0;}
		#accordion li{	list-style: circle; margin:0 0 5px 0; padding:0; list-style-position:inside}
		#accordion div ul li a{color:#000000;}
		#accordion div ul li a:hover{text-decoration: underline;}
		#accordion li ul li{	list-style: none; margin:0; padding:0; list-style-position:inside}
			
/*			
			
			.colDerGrapfico a.solapa01{
			display:block;
			float:left; background-color:#e6c248;
			-webkit-border-radius: 5px 5px 0 0;
				-moz-border-radius:  5px 5px 0 0;
				border-radius: 5px 5px 0 0;
				behavior: url(css/ie-pie/PIE.htc);
				margin:0 3px 0 3px;
				padding:5px;
				font-size:9px;
				cursor:pointer;}
				
				
			.colDerGrapfico .solapa02{
			float:left; background-color:#fed652;
			-webkit-border-radius: 5px 5px 0 0;
				-moz-border-radius:  5px 5px 0 0;
				border-radius: 5px 5px 0 0;
				behavior: url(css/ie-pie/PIE.htc);
				margin:0 3px 0 0;
				padding:5px;
				font-size:9px;}
				
			#colDerGrafico01{
			border-top:solid 4px #e6c248;
			width:100%;}
			#colDerGrafico02{
			border-top:solid 4px #fed652;width:100%;}
				
	*/
	
	
	
	
	


/*  Navegacion menu 2 (solapas colores)
---------------------------------------------------------------*/
	.boxNavSolapas{
	height:40px;
	background-repeat:no-repeat;}
	
		.boxNavSolapas ul{
		margin:0 auto 0 auto;}
		.boxNavSolapas ul li{
		height:35px;
		display:inline;
		float:left;
		margin:0 3px 0 0;}
		
		.boxNavSolapas ul li a{
		min-width:55px;
		display:block;
		height:27px;
		cursor:pointer;
		white-space:nowrap;
		color:#000000;
		font-size:10px;
		line-height:25px;
		padding:0 5px 0 20px;
		 -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
    		border-radius: 0 0 5px 5px;
			behavior: url(css/ie-pie/PIE.htc) !important;}			
				
				.boxNavSolapas ul li.solTurismo a{ background-color:#FFCC00;}
				.boxNavSolapas ul li.solVida a{background-color:#88d852;}
				.boxNavSolapas ul li.solTransformando a{background-color:#359e7d;}
				.boxNavSolapas ul li.solCiudad a{ background-color:#3dbeff;}
				.boxNavSolapas ul li.solAgenda a{background-color:#ff3929;}
				.boxNavSolapas ul li.solSocial a{background-color:#ff9c0d;}	
				.boxNavSolapas ul li.solOtros a{	background-color:#c0c0c0;}	
			
	/*	.boxNavSolapasLink{
		min-width:55px;
		display:block;
		height:27px;
		cursor:pointer;
		white-space:nowrap;
		color:#000000;
		font-size:10px;
		line-height:25px;
		padding:0 5px 0 20px;
		
			-webkit-border-radius: 5px 5px 0 0;
		    -moz-border-radius: 5px 5px 0 0;
    		border-radius:5px 5px 0 0;
			behavior: url(css/ie-pie/PIE.htc);}				
				
				.solTurismo a.boxNavSolapasLink{ background-color:#FFCC00;}
				.solVida a.boxNavSolapasLink{background-color:#88d852; -pie-background-color:#FFCC00;}
				.boxNavSolapas.solTransformando a{background-color:#359e7d;}
				.boxNavSolapas ul li.solCiudad a{ background-color:#3dbeff;}
				.boxNavSolapas ul li.solAgenda a{background-color:#ff3929;}
				.boxNavSolapas ul li.solSocial a{background-color:#ff9c0d;}	
				.boxNavSolapas ul li.solOtros a{	background-color:#c0c0c0;}		*/
		.boxNavSolapas ul li a:hover{
		height:35px;
		line-height:33px;
		}
		.boxNavSolapas ul li a:active{
		color:#FFFFFF;
		background-color:#666666;
		height:35px;
		line-height:33px;
		}		

/*   FORM PARA NEW EVENT & EDIT EVENT  */

#newEvent h1, #editEvent h1 {padding:0px; text-transform:uppercase; font-weight:bold; color: #FFFFFF; border-bottom:solid 1px #FFFFFF;}


#newEvent .arrangeButtons,
#editEvent .arrangeButtons {padding-left:150px;}


#newEvent, #editEvent {
	padding: 15px !Important;
}
#fancybox-outer, #fancybox-content {
background-color: #333 !Important;
border: none !Important;
}
#newEvent *, #editEvent * {
	margin-top: 0.3em !Important;
}
#newEvent fieldset, #editEvent fieldset {
	border:0 !Important;
}
#newEvent fieldset label, #editEvent fieldset label{
	color:#fff !Important;
}
.fc-view-month .foto, .fc-view-month .fc-event-text {
	display: none !Important;
}

