@charset "UTF-8";
/* CSS Document */


/*  HEADER 1*/
	.container_16 .header1{
	width:1010px;
	height:54px;
	background-color:#ffde44;
	margin:0;
	padding:0;
	border-bottom:solid 2px #333333;
	}
	
		/* branding
	----------------------------------------------- */
	h1#branding {
	width:310px;
	height:54px;
	background-repeat:no-repeat;
	background-image:url(../images/header_AgendaDeGobierno.png);
	float:left;
	margin:0 0 0 15px;
	padding:0;
	}
	.slogan{
	display:none;
	width:120px;
	height:54px;
	background-image:url(../images/header1_slogan.png);
	background-repeat:no-repeat;
	float:right;
	margin:10px 0 0 0;
	padding:0;}
	
	    .eyefishContainer{
    display:block;
    position:relative;
    width:300px;
    height:54px;
	background:none;
    float:right;
	margin:10px 0 0  0;
	z-index: 1099; }
	
	
/*.eyefishContainer{
	display:block;
	position:relative;
	width:220px;
	height:64px;
	float:left;
	margin:0 0 0 505px;}
*/


		.container_16 .colummAgenda{
		width:857px;
		margin-right:0;
		margin-left:17px;
		}
		
		.container_16 .colummSidebar{
		width:113px;
		min-height:720px;
		border: solid 1px #666666;
/*		margin-right:0px;*/
		margin-left:5px;
		overflow:hidden;}

/* Navegacion Menu 1
---------------------------------------------------------------*/
		
	.boxNav1 ul li a.botFiltrar,
	.boxNav1 ul li a.botResetFiltros { width:18px; height:18px; 
	display: block; padding:1px; 
	background-repeat: no-repeat;	background-position:3px 2px;
	 border:solid 1px #666666; 
	 background-color:#CCCCCC; 
	 -moz-border-radius: 5px;	border-radius: 5px; 
	 margin:0; color:#000000; cursor:default;}
	
		.boxNav1 ul li a.botFiltrar {background-image:url(../images/button_iconSearch.gif); }
		.boxNav1 ul li a.botResetFiltros { background-image:url(../images/button_iconDelete.gif); }
		
	.boxNav1 ul li a.botFiltrar:hover,
	.boxNav1 ul li a.botResetFiltros:hover { background-color:#EAEAEA !important;} 		
	
	.boxNav1{
	width:100%;
	height:46px; 
	background-color:#ccc;
	display:block;
	float:left;
	margin:0 ;
	z-index:1000;}
	
	.boxNav1 select,
	.boxNav1 #kind{-moz-border:none;}

	.boxNav1 ul {
	display:inline; margin: 5px 0 0 0;}
	.boxNav1 ul li {
	height:35px;
	float:left;
	display:block;
	padding: 3px 4px;
	margin:0 3px 0 0;
}	
	.boxNav1 ul li span{clear:both;}	

	.boxNav1 ul li.botSmall { padding:5px 0; display:none;}
	.boxNav1 ul li.botSmall a {
	width:26px;
	height:26px;
	display:block;
	background-color:#d7d8d3;
	background-image:url(../images/menuIcon_sprite.gif);
	background-repeat:no-repeat;
	border: solid 1px #999999;}
	
	.menuIcon_01{ background-position:0 5px;}
	.menuIcon_02{ background-position:-26px 5px;}
	.menuIcon_03{ background-position:-52px 5px;}
	.menuIcon_04{ background-position:-78px 5px;}	
	.menuIcon_05{ background-position:-104px 5px;}
	.menuIcon_06{ background-position:-130px 5px;}

	.boxNav1 ul li.botSmall a:hover { border: solid 1px #333333;}
	.boxNav1 ul li.botSmall {border-left:none;}
	/*   cc   */
	.boxNav1 ul li.buttonCC input{
	float:left;margin:2px 4px 0 0;}
	.boxNav1 ul li.buttonCC a{
	width:19px;
	height:13px;
	display:block;
	float:left;
	background-image:url(../images/icon_CC.gif);
	margin:2p 0 0 2px;}
	
	/* Calendario  */
	.boxNav1 ul li.pickDate{}
	.boxNav1 ul li.pickDate input{ font-size:11px; color:#000000; float:left;display:block;}
	.boxNav1 ul li.pickDate .dateCalendar{width:15px; height:15px; float:left; display:block; background-image: url(../images/icon_calendarHeader.gif); background-repeat:no-repeat; margin:0 2px 0 2px;}
	.boxNav1 ul li.pickDate a.dateGo{ width:15px; height:15px;  float:left; display:block; background-image:url(../images/bkg_headerButtonBkg.gif); background-repeat:repeat-x; background-position:bottom; background-color:#FFFFFF; border:solid 1px #999999; padding:0 0 0 3px; margin:2px 0 0 5px;}


/*  MENU 2 , DE SOLAPAS, ABAJO DE TODO */


/* Indicador del mes */
	.boxNavMonth{
	width:25%;
	display:inline;
	float:left;
	background-color:#FFFF00;}

/* Boton FullScreen */
	.boxFullscreen{
	width:75%;
	float:left;
	display:inline;
	text-align:right;}


/*   AGENDA     --------------------------*/
	.boxAgendaContainer{
	width:100%;
		border:none !Important}
/*border:solid 1px #666666;}
*/	
		#calendar {
		width: 857px;
		margin: 0 auto;
		}
		
		.scrollContainerAgenda{
		border-top:#FF0000;
		width:857px;
		height:420px;
		overflow:scroll;}
		
		/* ancho de los TD de días*/
		/* debe ser igual al de .fc-widget-header (en fullcalendar.js)*/
	
/*	FONDO GRIS   --------------*/
	.fc-view-month  .fc-border-separate, /*  vista MENSUAL */
	table.fc-agenda-days /* vistas dSEMANAL y DIARIAS */
	/*table.agendaBkgGris*/{
	background-color:#e7e7e7;
	background-image: url(../images/agenda_bkg-Gris.png);
	background-position: 0 0;
	background-repeat:no-repeat;}

/* ----------------------------------------*/ 
/* ----------------------------------------*/ 


/*   Complementos de fullcalendar.css  */
	
/* ----------------------------------------*/ 
/* ----------------------------------------*/ 
	.fc-header .fc-header-left{
	width:125px;
	padding:4px 0 0 8px;
	}
	.fc-header .fc-header-center{
	/*	width:250px;*/
	padding:4px 0 4px 0;
	text-align:left;
	}
	.fc-header .fc-header-right{
	padding:8px 8px 0 0;
	}
	
	.fc-header-left,
	.fc-header-center{
	background-color:#C0C0C0;
	background-image:url(../images/bkg_month.gif);
	background-repeat: repeat-x;
	background-position: left top;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	}
	.fc-header .fc-header-right{
	background-color:#C0C0C0;
	background-image:url(../images/bkg_month.gif);
	background-repeat: repeat-x;
	background-position: top left;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	}
	
	.fc-button-content{
/*	width:110px;*/
	font-weight:bold;
	text-transform:capitalize;}
	
	.fc-header-right{
	background-color:#dfdfdf;
	background-image:url(../images/bkg_header-right.gif);
	background-repeat: repeat-x;
	background-position: top left;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	}
		
	.fc-header-title h2 {
	font-size:18px;
	}
	
	
	 /*   DETALLES DE CUADRO EVENTO -------------------------*/
/*	 .eventoContainer */
	.fc-event .fc-event-inner{
	 position:relative; /*border-style:solid; border-color:#333333; border-width: 0 1px 0 1px;*/}
	 
	 	.eventoContent{
	/*		width:115px;*/
		width:100%;
	height:auto;
	display:block;
	line-height:1em;
	padding:3px 0 5px 0;
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(css/ie-pie/PIE.htc);
	}
		/*
		.eventoFooter{
		width:115px;
		height:7px;
		display:block;
		background-image: url(../images/backgroundsH.png);
		background-repeat:repeat-x;
	
		    -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
    		border-radius: 0 0 5px 5px;
			behavior: url(css/ie-pie/PIE.htc);		
		/*  PIE BEHAVIOR en ie7.css, para que RADIUS CORNER funcione en ie6, IE7, IE8*/
	/*	}*/
	 
			 /* HORARIO*/
			 .fc-event-time{/*width:115px;*/
			width:100%;
				height:15px;
				line-height:15px;
				padding:0;
				display:block;
				background-image: url(../images/backgroundsH.png);
				background-repeat:repeat-x;
				color:#000;
				font-size:10px;
				font-weight:bold;
				clear:both;
				
		    -webkit-border-radius:  5px 0 0px 5px;
		    -moz-border-radius: 5px 0 0px 5px;
    		border-radius:5px 0 0px 5px;
			behavior: url(css/ie-pie/PIE.htc);	
				/*  PIE BEHAVIOR en ie7.css, para que RADIUS CORNER funcione en ie6, IE7, IE8*/				
				}
				/* REFLEX para color */
/*				.evReflex{
				background-image:url(../images/bkg_evReflex.png);
				background-position:top center;
				background-repeat: repeat;}
*/
				/* Transparencia para Eventos anteriores*/
				.evAnterior{
				background-image:url(../images/bkg_trans50White.png);
				background-position:top center;
				background-repeat:repeat;}
				
				.fc-view-month .evAnterior .eventoContainer span.fc-event-time,
				.fc-view-month .evAnterior .eventoContainer span.fc-event-title,
				.fc-view-month .evAnterior .eventoContainer span.fc-event-text,
				.fc-view-agendaWeek .evAnterior .eventoContainer span.fc-event-time,
				.fc-view-agendaWeek .evAnterior .eventoContainer span.fc-event-title,
				.fc-view-agendaWeek .evAnterior .eventoContainer span.fc-event-text{
				color: #999999 !important;
				font-weight:normal; !important;}
				
				.fc-view-month .evAnterior .eventoContainer span.fc-event-time,
				.fc-view-agendaWeek .evAnterior .eventoContainer span.fc-event-time{
				background-position:0 -210px !important;
				background-repeat:repeat-x;
				background-image: url(../images/backgroundsH.png);
}
				
				
		 .fc-view-agendaDay .fc-event-time {width:100%;} 
				
			/* TITULO    */
			.fc-event-title{
			display:block;
			margin:0 2px 0 3px;
			padding:3px 0 0 0;
			color:#000;
			font-weight:bold;
			zoom: 1;
		filter: alpha(opacity=100);
		opacity: 1;}
		
	/* Eventos anteriores sin BOLD */
	.evAnterior .fc-event-time,
	.evAnterior .fc-event-title{ font-weight:normal;}
		
	.fc-view-agendaWeek .eventoContent span{font-size:9px; text-transform:uppercase; color: #000000; line-height:10px; margin-top:-4px;}
			
			.fc-event-title	img{
			text-align:right;
			border: solid 1px #FFF;
			margin:3px 2px 2px 2px;
			-moz-border-radius: 3px;
			border-radius: 3px;
				behavior: url(css/ie-pie/PIE.htc); 
			}
			
			/*  TEXTO  */
			.fc-event-text{
	font-weight:normal;
	display:none;
}
			
			/*  BOTONERA --------*/
			 ul.botoneraSmallEvento{
			position:absolute;
			top:0;
			right:0;
			/*background-color:#0033CC;*/}
			
				   ul.botoneraSmallEvento li{
					float:right;
					display:inline;
					margin-right:2px;
					}
					ul.botoneraSmallEvento li a{
					width:14px;
					height:14px;
					display:block;
					padding:0;
					background-image: url(../images/botSM_edit.png);		
					background-repeat:no-repeat;
					}
					/**/
						ul.botoneraSmallEvento li.eventoBot01 a{
			background-image: url(../images/botSM_edit.png);		
						}
						ul.botoneraSmallEvento li.eventoBot02 a{
			background-image: url(../images/botSM_delete.png);		
						}
						

			/*   COLORES DE HEADERS 	*/
			.amarillo, .verde1, .verde1bis, .verde2, .cyan, .rojo, .naranja, .naranjabis, .gris {
			-moz-border-radius: 4px;	border-radius: 4px;	}
			
			.amarillo .fc-event-time {	background-position:0 0;}
			.amarillo .title-evAnterior .fc-event-time{ 	background-position:0 -105px;}
			.amarillo {background-color:#FFCC00;}
						
			.verde1 .fc-event-time { background-position:0 -15px;}
			.verde1 .title-evAnterior .fc-event-time{	background-position:0 -120px;}			
			.verde1 {background-color:#88d852;}
			
			.verde1bis .fc-event-time { background-position:0 -15px;}
			.verde1bis .title-evAnterior .fc-event-time{	background-position:0 -120px;}			
			.verde1bis {background-color:#88d852;	}			

			.verde2 .fc-event-time { background-position:0 -30px;}
			.verde2 .title-evAnterior .fc-event-time{	background-position:0 -135px;}
			.verde2{background-color:#359e7d;}		
						
			.cyan .fc-event-time {	background-position:0 -45px;}
			.cyan .title-evAnterior .fc-event-time{	background-position:0 -150px;}					
			.cyan{background-color:#3dbeff;}
						
			.rojo .fc-event-time { background-position:0 -60px;}
			.rojo .title-evAnterior .fc-event-time{	background-position:0 -165px;}					
			.rojo {background-color:#ff3929;}
						
			.naranja .fc-event-time {	background-position:0 -75px;}
			.naranja .title-evAnterior .fc-event-time{	background-position:0 -180px;}					
			.naranja {background-color:#ff9c0d;	}
						
			.naranjabis .fc-event-time {	background-position:0 -75px;}
			.naranjabis .title-evAnterior .fc-event-time{	background-position:0 -180px;}					
			.naranjabis {	background-color:#ff9c0d;}
						
			.gris .fc-event-time {	background-position:0 -90px;}
			.gris .title-evAnterior .fc-event-time{	background-position:0 -195px;}
			.gris {background-color:#c0c0c0;}
			
			amarillo:active, verde1:active, verde1bis:active, verde2:active, cyan:active, rojo:active, 
			naranja:active, naranjabis:active, gris:active {
			zoom: 1;
			filter: alpha(opacity=40);
			opacity: 0.4;}
			
			/*  BORDE INFERIOR Evento   */
			.ui-resizable-handle { 
			width:100%;
			height:10px;
			background-image:url(../images/bkg_evFooter.png);
			background-position:bottom;
			background-repeat: repeat-x;}


/*   AGENDA SEMANAL  */
/* ----------------------------------------*/ 

	/* AGENDA MENSUAL - ancho de los dias de semana */
		.fc-agenda .fc-mon, 
		.fc-agenda .fc-tue, 
		.fc-agenda .fc-wed, 
		.fc-agenda	.fc-thu, 
		.fc-agenda .fc-fri, 
		.fc-agenda .fc-sat, 
		.fc-agenda .fc-sun {
		width:14.28%;
		}
		.fc-agenda .fc-agenda-axis {
		width: 50px;}		
		
		/*agenda semanal */
		.fc-view-agendaWeek .fc-agenda-axis	{width:5%}
		.fc-view-agendaWeek .fc-agenda-allday .fc-agenda-axis {width:5%}
		
		.fc-view-agendaWeek .fc-mon, 
		.fc-view-agendaWeek .fc-tue, 
		.fc-view-agendaWeek .fc-wed, 
		.fc-view-agendaWeek	.fc-thu, 
		.fc-view-agendaWeek.fc-fri, 
		.fc-view-agendaWeek .fc-sat, 
		.fc-view-agendaWeek .fc-sun  {
		width:13.3%;
		}
		.fc-view-agendaWeek  .fc-agenda-slots  .fc-agenda-axis{
		width:5%;}
		.fc-view-agendaWeek .fc-agenda-slots .fc-mon,
		.fc-view-agendaWeek .fc-agenda-slots .fc-tue,
		.fc-view-agendaWeek .fc-agenda-slots .fc-wed,
		.fc-view-agendaWeek .fc-agenda-slots .fc-thu,
		.fc-view-agendaWeek .fc-agenda-slots .fc-fri,
		.fc-view-agendaWeek .fc-agenda-slots .fc-sat,
		.fc-view-agendaWeek .fc-agenda-slots .fc-sun {
		width:13.3%;
		}
			
		.fc-agenda .fc-agenda-axis,
		.fc-view-agendaWeek .fc-agenda-axis,	/* agenda semanal*/
		.fc-view-agendaWeek .fc-agenda-slots .fc-agenda-axis,	/* agenda semanal*/
		.fc-view-agendaWeek .fc-agenda-allday .fc-agenda-axis, 	/* agenda semanal*/
		
		.fc-view-agendaDay  .fc-agenda-slots  .fc-agenda-axis /* agenda diaria*/ {
	color:#000000;
	/*			font-size:11px; */
			font-weight:bold;
	background-position:0 -239px;
	background-color:#C0C0C0;
	padding: 0 4px 0 2px;
			}
/*			fc-view-agendaDay .fc-agenda-axis{
			width: 50px;}
	*/	
		
		/* AGENDA DIARIA */		
		.fc-view-agendaDay .fc-today{/*height: 710px;*/ height:auto;}
		
		.fc-view-agendaDay .fc-agenda-allday .fc-agenda-axis{	width:5%;}
		
		.fc-view-agendaDay  .fc-agenda-days  .fc-agenda-axis{	width:5%;}
		.fc-view-agendaDay .fc-agenda-days .fc-mon,
		.fc-view-agendaDay .fc-agenda-days .fc-tue,
		.fc-view-agendaDay .fc-agenda-days .fc-wed,
		.fc-view-agendaDay .fc-agenda-days .fc-thu,
		.fc-view-agendaDay .fc-agenda-days .fc-fri,
		.fc-view-agendaDay .fc-agenda-days .fc-sat,
		.fc-view-agendaDay .fc-agenda-days .fc-sun {	width:95%; /*display:none;*/}
		
		.fc-view-agendaDay  .fc-agenda-slots .fc-widget-header{	width:5%;}
		.fc-view-agendaDay  .fc-agenda-slots .fc-widget-content{	width:95%;}

/*		.fc-view-agendaDay .fc-agenda-days thead{ display:none;}*/
			
			/*.bkgAllday*/
/*			.fc-agenda-allday .fc-last{
			background-color: #999999;
			zoom: 1;
			filter: alpha(opacity=40);
			opacity: 0.4;}
	*/		
			.fc-agenda-allday .fc-last .fc-day-content,
			.fc-agenda-allday .fc-last .fc-day-content {
			background-color: #999999;
			zoom: 1;
			filter: alpha(opacity=40);
			opacity: 0.4;}
			
			
			.fc-widget-content {  /* <td>, usually */
			border: 1px solid #FF0000;
			}
			
			.fc-view-agendaDay .fc-agenda-allday {/*top:3px;*/}
			
/*   FIN Complementos de fullcalendar.css  */
/* ----------------------------------------*/ 


/* ----------------------------------------*/ 

/* DIVS DE DATOS DE EVENTO*/

/* ----------------------------------------*/ 
	.boxEvento{
	width:115px;
	position:relative;
	z-index:1;
	
	margin:0 0 0 200px;}
	
	/* EVENTO HEADER -------------------*/
	.boxEventoHeader{
	width:115px;
	height:15px;}
		
		.boxEvento .headerOrange{
		background-image: url(../images/evento_header_orange100.png);
		background-position: top left;
		background-repeat:no-repeat;
		}
		
	.boxEventoHeader{
	width:115px;
	height:15px;}
	
	/*  Horario  */
	.boxEventoHeader h2{  
	margin:0 0 0 5px;
	padding:3px 0 0 0;
	color:#FFF;
	font-weight:bold;
	font-size:9px;
	z-index:1000;}
	


	/* EVENTO CONTENT -------------------*/
	.boxEventoContent{
	width:115px;
	height:auto;
	line-height:1em;}

	.boxEventoContent h3{
	font-size:9px;
	line-height:9px;
	margin:0px 3px 0 5px;
	padding-top:2px;}	
	
	.boxEventoContent h3 img{
	text-align:right;
	border: solid 1px #FFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:0 2px 2px 2px;}
	
	.boxEventoContent p{
	font-size:9px;
	margin:0 3px 0 5px;}	
		
		.boxEvento .contentOrange{
		background-image: url(../images/boxEvento_bkg_orange100.png);
		background-position: bottom left;
		background-repeat:no-repeat;
		padding-bottom:7px;
		/*
	zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.4;*/
		}
		
		

	/*   FERIADO      */			
	.boxFeriado�{
	background-color:#999999;
	/* transparencia */
	}
	.evFeriado, .evEfemeride,
	.evFeriadoPast, .evEfemeridePast{
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#FFFFFF;
	background-position:top left !important;
	background-repeat:repeat-x !important;
	}
	.evFeriado{ 	background-color:#1e8ab2; 
	background-image:url(../images/bkg_evFeriado.png) !important;
	background-position:top left !important;}	
	
	.evEfemeride{ 	background-color:#999999; 
	background-image:url(../images/bkg_evFeriado.png) !important;
		background-position:top left !important;}	
		
	.evFeriadoPast{ 	background-color:#d4f0fa; 
	background-image:url(../images/bkg_evFeriado.png) !important;
	background-position: 0px -24px !important;
}	
	.evEfemeridePast{ 	background-color:#e8e8e8; 
	background-image:url(../images/bkg_evFeriado.png) !important;
	background-position: 0px -24px !important;
	}			
	
	.fc-view-agendaWeek .evFeriado .eventoContent span.fc-event-title,
	.fc-view-agendaWeek .evEfemeride .eventoContent span.fc-event-title
	{color:#FFFFFF; !important}	
	.fc-view-agendaWeek .evFeriadoPast .eventoContent span.fc-event-title,
	.fc-view-agendaWeek .evEfemeridePast .eventoContent span.fc-event-title
	{color: #CCCCCC; !important}	
	
	
			
/*  PENDIENTES  */

.titleGraph{ color:#000000; margin-bottom:5px; width:100%; height:20px; }
.titleGraph span{width:110px; height:20px; display: block; background-image:url(../images/bkg_solapas.png);
	background-repeat:no-repeat;
	background-position: 0 0; text-align:center; margin:0 auto 0 auto;
	font-weight:bold; line-height:12px;}

#pendientes {
display:block;
}


	.pendientesContent {
	width:113px; 
	float:left;
	height:350px;
	display:block;	
	background-color:#ffffff;
	margin:5px 0 10px 0;
	
	overflow-y: scroll;
	overflow-x:none; 
 }
 
			/*  borde superior bevel */
			.pendientesContent .solapita{ 
			width:90px; 
			height:8px; 
			display:block;
			clear:both;
			float:left; 
			margin:0;
			background-image:url(../images/bkg_evTop.png);
			background-position:bottom;
			background-repeat: repeat-x;
	
			-moz-border-radius: 8px;
			border-radius:8px;
			behavior: url(css/ie-pie/PIE.htc);
			} 
	
		.pendientesContent ul{
		height:250px; margin:0;
		}
			.pendientesContent ul li{
			width:90px;
			height:66px;
			display: inline;
			float:left !Important;
			margin:5px 1px 2px 5px !Important;}
			
		.pendientesContent ul li .pendienteDato {
			width:57px;
			margin:0;
			height:60px;
			float:left;
			display:block;
			padding:0 0 5px 5px;
			}
				
		.pendientesContent 	.pendienteDato span {font-weight:bold;display: block; margin-bottom:5px; /*height:55px;*/ overflow:hidden;		
}	
		.pendientesContent 	.pendienteBotones{
			float:right !Important; 
			width:13px; height:60px;
			margin:0 0 5px 0; padding:5px;
				-moz-border-radius:  10px 10px 10px 0;
				border-radius: 0 10px 10px 0;
				behavior: url(css/ie-pie/PIE.htc);}
		/*colores */
		.pendientesContent .amarillo, .pendientesContent .verde1, .pendientesContent .verde1bis, 
		.pendientesContent .verde2, .pendientesContent .cyan,  .pendientesContent .rojo, 
		.pendientesContent .gris, .pendientesContent .naranja, .pendientesContent .naranjabis  {
		background-image:url(../images/bkg_evFooter.png);  background-position:bottom; background-repeat:repeat-x;	border:none;}
		
			.pendienteBotones a.pendienteEditar,
			.pendienteBotones a.pendienteBorrar{
			width:15px;
			height:15px;
			display:block;
			padding:0;
			margin:3px 0 2px 0;
			background-image:url(../images/evento_sprite.png);
			background-repeat:no-repeat;
			}
			.pendienteBotones a.pendienteBorrar{
			background-position:-248px -102px;}
			.pendienteBotones a.pendienteEditar{
			background-position:-232px -102px;}	
	
	
	
/*  COLUMNA DERECHA  */
	.container_16 .colummSidebar {margin-top:10px;}
	.container_16 .colummSidebar box{padding:7px;}

			.container_16 .colummSidebar .boxBuscador{
			height:20px;
			padding:7px 7px 10px 7px; 
			border-bottom:solid 1px #666666;
			position:relative;
			}
	
				.textBuscador{
				width:72%;
				height:15px;
				border:solid 1px #999;
				float:left;
				font-size:10px; margin:0 5px 0 0;}
				
				.botBuscador{
				display:block;
				position:absolute;
				right:5px;
				width:32px;
				height:23px;
				float:left;
				background-image:url(../images/icon_buscador.gif);
				background-position:center;
				background-repeat:no-repeat;
				background-color:#9d9d9d;}
						
		
		/* sidebar SOLAPAS */
		
		.colummSidebar .solapas2 .ui-state-default{
		width:113px; height:21px;
		background-image: url(../images/solapa_gris.gif) !important;
		background-position:-2px 0 !important;}		
		
		.colummSidebar .solapas2  .ui-state-hover, 
		.colummSidebar .solapas2 .ui-state-focus,
		.colummSidebar .solapas2  .ui-state-active{
		width:113px; height:21px;
		background-image: url(../images/solapa_gris.gif) !important;
		background-position:-2px -21px !important;
		color:#FFFFFF;}

		.colummSidebar .solapas2 .ui-state-default a,
		.colummSidebar .solapas2 .ui-state-hover a,
		.colummSidebar .solapas2 .ui-state-focus a,
		.colummSidebar .solapas2 .ui-state-active a	{
		width:113px; height:21px; overflow:hidden;
		text-align:center;
		line-height:21px !important;
		border-bottom: solid 1px #666666;
		padding:0 0 0 0 !important;
		font-size:10px !important;
		background:none;}
		
		.colummSidebar .solapas2 .ui-state-default a,
		.colummSidebar .solapas2 .ui-state-default a:link,
		.colummSidebar .solapas2 .ui-state-default a:visited {
	color: #FFFFFF !important;
	text-decoration: none;
	
}
		 .colummSidebar .solapas2 .ui-state-hover a, 
		.colummSidebar .solapas2 .ui-state-hover a:hover { 
		color: #FFFFFF; text-decoration: none;
		background:none;
 }
		.colummSidebar .solapas2 .ui-state-active a, 
		.colummSidebar .solapas2 .ui-state-active a:link,
		.colummSidebar .solapas2 .ui-state-active a:visited { 
				background-image: url(../images/solapa_gris.gif) !important;
		background-position:-2px 0 !important;
		color: #FFFFFF !important; text-decoration: none; }	
		
		#accordion2 ul,
		#accordion2 ul li,
		#accordion2 ul li a{
		padding:0;
		margin:0;
		font-size:11px;
		font-weight:normal;
		text-align:left;}		

		#accordion2 ul{
		width:90px;
		margin:0 0 0 -18px;}	
			
		#accordion2 ul li{
		margin:0 0 3px 0;
		list-style:none;
		text-align:left;}	
		
		#accordion2 ul li ul{
		width:70px;
		margin:0 0 0 0px;
		padding-left:0px;}
		
		#accordion2 ul li ul li{
		margin:0 0 0 0px;
		padding-left:8px;
		padding-bottom:5px;
		border-bottom: solid 1px #666666;
		background-image:url(../images/solapas2_bullet.gif);
		background-position: 0 3px;
		background-repeat:no-repeat;}
		
		#accordion2 ul li a{ text-align:left;}
		#accordion2 ul li a:hover{ color: #003399; text-decoration:underline;}


	
/*   COLUMNA DERECHA  SEPARADA EN DOS SUBCOLMNAS*/	
#subColumns {margin-top:10px; position:relative;}

.subColumnsTriggerA a, .subColumnsTriggerA a:visited,
.subColumnsTriggerB a, .subColumnsTriggerB a:visited {
			width: 55px; display:block; float:left;
			cursor:default;
			height:25px; background-color:#999999; color:#FFFFFF; font-size:10px; text-align:center;
			line-height:25px; 
			-webkit-border-radius: 5px 5px 0 0;
				-moz-border-radius:  5px 5px 0 0;
				border-radius: 5px 5px 0 0;
				behavior: url(css/ie-pie/PIE.htc);}


.subColumnsTriggerA a{ margin-right:1px;}	

.subColumnsTriggerA a:active,
.subColumnsTriggerB a:active{ background-color:#333333; color: #FFFFFF;}	

.subColumnsTriggerA a.current,
.subColumnsTriggerB a.current
{ background-color:#FFCC00; color: #000000;}	

#subColumns #subColumnA, 
#subColumns #subColumnB {float:left; position: absolute; top:35px; left:0; background-color:#FFFFFF; width:115px;}
	

/*  Navegacion menu 2 (solapas colores)
---------------------------------------------------------------*/
	.boxNavSolapas{
	height:27px;
	margin:0 0 0 -15px;	
/*	background-repeat:no-repeat;
	background-image:url(../images/bkg_solapas.png);*/
	position:relative;
	display:block;
}
	
		.boxNavSolapas ul{
		margin:0;
		left:0;}
		.boxNavSolapas ul li{
		width:110px;
		height:20px;
		display:block;
		float:left;
		position:absolute; 		
		margin:0;
		padding:0;
		text-align:center;
		}
		
		.boxNavSolapas ul li a{
		width:110px;
		display:block;
		height:20px;
		cursor:pointer;
		white-space:nowrap;
		color:#FFFFFF;
		font-size:10px;
		line-height:20px;
		background-image:url(../images/bkg_solapas.png);
		background-repeat:no-repeat;
		}
		.boxNavSolapas ul li a:hover{ color:#000000;}
				
				.boxNavSolapas ul li.solTurismo{ left:0; top:0; z-index:1000;}
				.boxNavSolapas ul li.solTurismo a{background-position:0 0;}

				.boxNavSolapas ul li.solVida {left:95px; z-index:950;}
				.boxNavSolapas ul li.solVida a{background-position:0 -20px;}
	
				.boxNavSolapas ul li.solTransformando { left:190px; z-index:900;}
				.boxNavSolapas ul li.solTransformando a{background-position:0 -40px;}

				.boxNavSolapas ul li.solCiudad { left:285px; z-index:850;}
				.boxNavSolapas ul li.solCiudad a{background-position:0 -60px;}

				.boxNavSolapas ul li.solSocial { left:380px; z-index:800;}
				.boxNavSolapas ul li.solSocial a{background-position:0 -80px;}								
				
				.boxNavSolapas ul li.solPlan { left:475px; z-index:750;}
				.boxNavSolapas ul li.solPlan a{background-position:0 -20px;}
				
				.boxNavSolapas ul li.solAgenda { left:570px; z-index:700;}
				.boxNavSolapas ul li.solAgenda a{background-position:0 -100px;}	

				.boxNavSolapas ul li.solCrec { left:665px; z-index:650;}
				.boxNavSolapas ul li.solCrec a{background-position:0 -80px;}	
				
				.boxNavSolapas ul li.solOtros { left:760px; z-index:600;}
				.boxNavSolapas ul li.solOtros a{background-position:0 -120px;}																				
				
				
			
	/*	.boxNavSolapasLink{
		min-width:55px;
		display:block;
		height:27px;
		cursor:pointer;
		white-space:nowrap;
		color:#000000;
		font-size:10px;
		line-height:25px;
		padding:0 5px 0 20px;
		
			-webkit-border-radius: 5px 5px 0 0;
		    -moz-border-radius: 5px 5px 0 0;
    		border-radius:5px 5px 0 0;
			behavior: url(css/ie-pie/PIE.htc);}				
				
				.solTurismo a.boxNavSolapasLink{ background-color:#FFCC00;}
				.solVida a.boxNavSolapasLink{background-color:#88d852; -pie-background-color:#FFCC00;}
				.boxNavSolapas.solTransformando a{background-color:#359e7d;}
				.boxNavSolapas ul li.solCiudad a{ background-color:#3dbeff;}
				.boxNavSolapas ul li.solAgenda a{background-color:#ff3929;}
				.boxNavSolapas ul li.solSocial a{background-color:#ff9c0d;}	
				.boxNavSolapas ul li.solOtros a{	background-color:#c0c0c0;}		*/
/*		.boxNavSolapas ul li a:hover{
	height:35px;
		line-height:33px;
		}
		.boxNavSolapas ul li a:active{
		color:#FFFFFF;
		background-color:#666666;
		height:35px;
		line-height:33px;
		}		
*/

/*   FORM PARA NEW EVENT & EDIT EVENT  */
#fancybox-outer, #fancybox-content {
	background-color: #333 !Important;
	border: none !Important;
}
#newEvent h1, #editEvent h1, #showEvent h1, #uninstantiatedRegEvents h1 {
	padding:0px;
	text-transform:uppercase;
	font-weight:bold;
	color: #FFFFFF;
	border-bottom:solid 1px #FFFFFF;
}
#newEvent .arrangeButtons,
#editEvent .arrangeButtons,
#showEvent .arrangeButtons {
	padding-left:150px;
}
#newEvent, #editEvent, #showEvent ,#uninstantiatedRegEvents {
	padding: 15px !Important;
}
#newEvent *, #editEvent *, #showEvent *, #uninstantiatedRegEvents *{
	margin-top: 0.3em !Important;
}
#newEvent fieldset, #editEvent fieldset, #showEvent fieldset, #uninstantiatedRegEvents fieldset {
	border:0 !Important;
}
#newEvent fieldset label, #editEvent fieldset label,
#showEvent fieldset label, #uninstantiatedRegEvents fieldset label {
	color:#fff !Important;
}
#uninstantiatedRegEvents table{
	width: 90%;
}
#uninstantiatedRegEvents th, #uninstantiatedRegEvents td {
	text-align: left;
	padding: 4px;
	color: #ffffff;
	vertical-align: bottom !Important;
}
.fc-view-month .foto, .fc-view-month .fc-event-text {
	display: none !Important;
}
fc-view-week  .fc-event-text {display:none;}

/*fc-view-week*/.fc-agenda-days  .fc-event-title{ }
.fc-agenda-days thead th{ text-tranform:uppercase;/*background-color: #009933; height:20px; padding-top:5px;*/}

.fc-agenda-allday .fc-agenda-axis{font-size:9px; font-family: "Arial Narrow";}


span.ui-icon-triangle-1-e, span.ui-icon-triangle-1-s {
	display: none !Important;
}


.eventsGraph {
margin-left:auto;
margin-right:auto;
	width: 90px;
	height: 90px;
}
.CGpercents {
	/*font-size: xx-small !Important;*/
	font-size: 1.2em;
}

#fancyboxCakeGraph {
	background-color: White;
	padding: 50px;
}
#fancybox-outer.fancyboxCakeGraph, #fancybox-content.fancyboxCakeGraph {
	background-color: White !Important;
	border: none !Important;
}
#fancybox-content h5 {
	padding: .5em;
	background-color: White;
	font-size: 1.5em;
	border-bottom: 1px solid black;
	color: Black;

}


/* ******************************************** */

/*  FANCYBOX FICHAS */

/* ******************************************** */

@font-face {
	font-family: 'Gotham Medium';
	src: url('fonts/Gotham-Medium.otf');
}

@font-face {
	font-family: 'Gotham Bold';
	font-weight: bold;
	src: url('fonts/Gotham-Bold.otf');
}

.fichaObra{
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	font-family: 'Gotham Medium';
	font-size:13px;
}

/*  HEADER*/
	.fichaHeader{
	width:100%;
	height:38px;
	display:block;
	position:relative;
	background-image:url(../images/backgroundsH.png);
	background-position:0 -505px;
	background-repeat:repeat-x;
	text-align:center;}

		.fichaHeaderTitle{
		width:180px;
		height:20px;
		display:block;
		background-image:url(../images/fichaHeaderTitle.png);
		background-position:0 0;
		background-repeat:no-repeat;
		margin: 0 auto 3px auto;}
		
		.fichaHeaderLogo{
		width:35px;
		height:20px;
		float:right;
		position:absolute;
		display:block;
		right:0;
		top:0;
		background-image:url(../images/fichaHeaderTitle.png);
		background-position:0 -20px;
		background-repeat:no-repeat;
		margin: 0 15px 0 0;}	

.fichaMainTitle{
	width:100%;
	height:18px;
	display:block;
	position:relative;
	margin:0; padding:0;}
	.fichaMainTitle ul.amarillo,
	.fichaMainTitle ul.verde1,	.fichaMainTitle ul.verde1bis, 
	.fichaMainTitle ul.verde2,	.fichaMainTitle ul.rojo,
	.fichaMainTitle ul.naranja,	.fichaMainTitle ul.naranjabis,
	.fichaMainTitle ul.cyan, 	.fichaMainTitle ul.gris	{ background-color: #FFFFFF;}

	
	ul.fichaTitle {width:100%; float:left; display:inline;}
	ul.fichaTitle li {float:left; display:block; height:18px; padding:0; margin:0;}

	
		li.fichaTitleDate	{width:23%; text-align:center; background-color:#FFFFFF;}
					li.fichaTitleDate	span {font-weight:bold;}
		li.fichaTitlePerson {width:23%; float:left; text-align:center; background-color:#FFFFFF;}
					li.fichaTitlePerson span {font-weight:bold;}	
				
			li.fichaTitleLeft, 
			li.fichaTitleRight{
			width:20px;
			background-image:url(../images/backgroundsH.png);
			background-repeat:no-repeat; white-space:nowrap;}
			
				li.fichaTitleLeft{margin:0 50px 0 0; background-color:#FFFFFF;}
				li.fichaTitleRight{ margin:0; background-color:#FFFFFF;}
				
				.amarillo li.fichaTitleLeft{background-position: 0 -225px;}
				.amarillo li.fichaTitleCenter{background-color:#ffcc00; color:#333333;}
				.amarillo li.fichaTitleRight{ background-position: 0 -365px;}
				
				.verde1 li.fichaTitleLeft, .verde1bis li.fichaTitleLeft{background-position: 0 -245px;}
				.verde1 li.fichaTitleCenter, .verde1bis li.fichaTitleCenter{background-color:#8dbd2e;}
				.verde1 	li.fichaTitleRight, .verde1bis li.fichaTitleRight{ background-position: 0 -385px;}			
				
				.verde2 li.fichaTitleLeft{background-position: 0 -265px;}
				.verde2 li.fichaTitleCenter{background-color:#058888;}
				.verde2 	li.fichaTitleRight{ background-position: 0 -405px;}			
				
				.cyan li.fichaTitleLeft{background-position: 0 -285px;}
				.cyan li.fichaTitleCenter{background-color:#33ccff;}
				.cyan	li.fichaTitleRight{ background-position: 0 -425px;}			
				
				.naranja li.fichaTitleLeft, .naranjabis li.fichaTitleLeft {background-position: 0 -305px;}
				.naranja li.fichaTitleCenter, .naranjabis li.fichaTitleCenter{background-color:#ff9000;}
				.naranja	li.fichaTitleRight, .naranjabis li.fichaTitleRight { background-position: 0 -445px;}			
				
				.rojo li.fichaTitleLeft{background-position: 0 -325px;}
				.rojo li.fichaTitleCenter{background-color:#ff0000;}
				.rojo 	li.fichaTitleRight{ background-position: 0 -465px;}			
				
				.gris li.fichaTitleLeft{background-position: 0 -345px;}
				.gris li.fichaTitleCenter{background-color:#92969d;}
				.gris li.fichaTitleRight{ background-position: 0 -485px;}			
		
			li.fichaTitleCenter{
			width:45%;
			font-size:14px;
			font-weight:bold;
			text-align:left;
			color:#FFFFFF;
			text-transform:uppercase;
			white-space:nowrap;
}
	
	.fichaTable{width:100%; border-spacing:4px; border-collapse:separate;}
	.fichaTable th,
	.fichaTable td{ padding:3px 6px;	margin:2px;}

		.fichaTable th{width:25%; background-color:#CCCCCC; text-align:left; vertical-align:top;
		-moz-border-radius: 8px;	border-radius:8px;
		border-bottom: solid 1px #666666;
		border-top:none; border-left:none; border-right:none; font-weight:bold;}

		.fichaTable td{ background-color:#FFFFFF; text-align:left; vertical-align:top;
		background-image:url(../images/bkg_fichaTD.png);
		background-position:bottom left; background-repeat:repeat-x;
		-moz-border-radius: 8px;	border-radius:8px;
		border: solid 1px #999999;}
		
		.fichaTable td.fichaTd50{ width:50%;}
		.fichaTable td.fichaTd75{ width:75%;}
		.fichaTable td.fichaTd100{ width:100%;}
		
		/* TD con MapaGoogle*/
		.fichaMap{text-align:center;}
		.fichaGoogleMap{width:130px; height:130px; display:block; background-color: #FFCC66; border:solid 2px #999999; margin:auto;  padding:2px;}

		/* TD con Descripcion de OBRA  + Conclusion de obra  */
		.fichaDescription {height:130px;}
		.fichaConclusion {height:160px;}
		
		.fichaDescription h2,
		.fichaConclusion h2 { font-size:13px; text-transform:uppercase; text-align:center; font-weight:bold; border-bottom:solid 1px #999999; margin: 0 0 8px 0;}	
		
		.fichaDescription p,
		.fichaConclusion p {margin:0 10px 5px 10px;}				
				
				.fichaDescription .fichaDescriptionText{width:100%; height:130px; overflow-y:scroll; overflow-x:hidden; margin:0;}	
				.fichaConclusion .fichaConclusionText{width:100%; height:160px; overflow:hidden; margin:0;}	
		
		
		/* TD mapaCABA */
		.fichaMap  {text-align:center;}
		.fichaMapaCaba {margin: auto; border:solid 2px #999999; width:130px; height:130px; padding:2px;}
		
		/*SUB TABLE de DETALLES 	+  TD  fichaEstadoTable*/
		.fichaTable .tableDetallesTable th,
		.fichaTable .fichaEstadoTable th
		{width:75%; border-bottom: solid 1px #999999;  border-right: solid 1px #999999; font-weight:bold; background-color:#FFFFFF;background-image:url(../images/bkg_fichaTD.png);font-size:90%; line-height:13px;
		background-position:bottom left; background-repeat:repeat-x; -moz-border-radius: 0px;	border-radius:0px;}
		
		.fichaTable .tableDetallesTable td,
		.fichaTable .fichaEstadoTable td
		{ width:25%; border-bottom: solid 1px #999999; border-top:none; border-left:none; border-right:none;-moz-border-radius: 0px;	border-radius:0px;}		
		.fichaTable .tableDetallesTable td span,
		.fichaTable .fichaEstadoTable td span{ clear:both;}
		
		/*  Colores INDICADORES  */
		.fichaEstadoTable .indicadorRojo, .fichaEstadoTable .indicadorAmarillo,
		.fichaEstadoTable .indicadorVerde, .fichaEstadoTable .indicadorAzul,
		.fichaEstadoTable .indicadorBlanco, .fichaEstadoTable .indicadorNegro{
		background-image:url(../images/fichaIndicador.png);
		width:25px; height:24px; margin:0 auto;}
		
		.fichaEstadoTable .indicadorRojo{ background-position:0 0;}
		.fichaEstadoTable .indicadorAmarillo{ background-position:-25px 0;}
		.fichaEstadoTable .indicadorVerde{ background-position:-49px 0;}
		.fichaEstadoTable .indicadorAzul{ background-position:-75px 0;}
		.fichaEstadoTable .indicadorBlanco{ background-position:-98px 0;}
		.fichaEstadoTable .indicadorNegro{ background-position:-122px 0;}
		
		/* GALLERY */
		.fichaTable td.fichaGallery{
		background-color:#CCCCCC; background-image:none;
		height:105px;  border-bottom: solid 1px #999999;  border-right: solid 1px #999999; }

/*  end of FANCYBOX FICHAS */



/* Botones SOLAPAS filtros */
#textFilters {
  position: relative;
	display: block;
  margin-top:-20px;
  margin-right:200px;
  float: right;
}
.butResultsFilter,
.butShowHideFilter,
.butDeleteFilter{
color:#000000;
/*width:170px;*/
height:16px;
padding:2px 10px 0 30px;
margin:0 0 0 0;
text-align:left;
	border:solid 1px #666666;
	background-repeat:no-repeat;
	background-position: 7px 0;
			border: solid 1px #000000;
			border-bottom:none;
			-moz-border-radius: 8px 8px 0 0;
    		border-radius:8px 8px 0 0;
			float:right;}
	
		.butResultsFilter{background-image:url(../images/icon_resultsFilter.png);}
		.butResultsFilter:hover{ background-color: #999999; color:#FFFFFF;}

		.butShowHideFilter{background-image:url(../images/icon_eye.png);}
		.butShowHideFilter:hover{ background-color: #999999; color:#FFFFFF;}
		
		.butDeleteFilter{background-image:url(../images/icon_deleteFilter.png);}
		.butDeleteFilter:hover{ background-color: #999999; color:#FFFFFF;}


.fc-widget-header { text-align: justify !Important;
padding-left: 8px !Important;
padding-right: 8px !Important;
}
.fc-widget-header:after {
  content: "";
  display: inline-block;
  width: 100%;
}



span.fc-header-title h2 {
    margin-top: 0.40em  !Important;
    margin-left: 1em;
    font-size: 1.30em !Important;
}
.fc-header-left, .fc-header-center, .fc-header-right  {
 margin-top: 0 !Important;
 margin-bottom: 0 !Important;
 padding-top: 0 !Important;
 padding-bottom: 0 !Important;
}
.fc-header .fc-button {
    margin-top: 0.30em !Important;
    margin-bottom: 0.30em !Important;
}

.fc-view-month .fc-event, 
.fc-view-agendaWeek .fc-event,
.fc-event {
border-right: solid 1px #666666 !important;
border-left: solid 1px #666666 !important;
border-top:none !important;
border-bottom: solid 1px #666666 !important;}

.fc-view-month .evAnterior, .fc-view-agendaWeek .evAnterior, .evAnterior,
.fc-view-month .evFeriadoPast, .fc-view-agendaWeek .evFeriadoPast, 
.fc-view-month .evEfemeridePast, .fc-view-agendaWeek .evEfemeridePast,
.evFeriadoPast, .evEfemeridePast {
border-right: solid 1px #999999 !important;
border-left: solid 1px #999999 !important;
border-top:none !important;
border-bottom: solid 1px #999999 !important;}

/*   FICHA  SCROLLER    */
			#intro {
				width: 580px;
				margin: 0 auto;
			}
			.wrapper {
				background-color: white;
				width: 480px;
				margin: 40px auto;
				padding: 50px;
				box-shadow: 0 0 5px #999;
			}
			.list_carousel {
				background-color: #ccc;
				margin: 0 0 30px 60px;
				width: 360px;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				font-size: 40px;
				color: #999;
				text-align: center;
				background-color: #eee;
				border: 5px solid #999;
				width: 50px;
				height: 50px;
				padding: 0;
				margin: 6px;
				display: block;
				float: left;
			}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				float: left;
				margin-left: 10px;
			}
			.next {
				float: right;
				margin-right: 10px;
			}
			.pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.timer {
				background-color: #999;
				height: 6px;
				width: 0px;
			}
			
.image_carousel {
	padding: 15px 0 15px 40px;
	position: relative;
}
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
}
a.prev, a.next {
	background: url(../images/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -22px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.prev.disabled {	
	background: url(../images/miscellaneous_sprite.png) no-repeat transparent !important;
background-position: 0 -100px !important;  }
a.next {			right: -22px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }
a.next.disabled {
	background: url(../images/miscellaneous_sprite.png) no-repeat transparent !important;
background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}	
