@charset "UTF-8";
/* CSS Document */

.container_16
{
	margin-left: auto;
	margin-right: auto;
	width: 1010px;
	text-align:center;
}

 .fc-view-agendaWeek .eventoContent span{font-size:11px; text-transform: none; color: #000000; line-height:14px; margin-top:-4px;}

	.evFeriado,
	.evEfemeride,
	.evEfemeridePast,
	.evFeriadoPast {
		margin-bottom:-8px;
	}
	.eyefishContainer ul{
			position:absolute;
			right:0;
			}

		
			.fc-event-title	img{
			border-radius: 3px;
				behavior: url(css/ie-pie/PIE.htc); /*  Para que RADIUS CORNER funcione en ie6, IE7, IE8*/
			}
			
	.boxNav1 ul li a.botFiltrar,
	.boxNav1 ul li a.botResetFiltros { width:16px; height:16px; 
	background-position:0 0;}
	
			.pendientesContent ul li .pendienteDato {
			width:57px;
			margin:0;
			height:55px;
			float:left;
			display:block;
			padding:0 0 5px 5px;
			text-align: left!Important;
			}
				
		.pendientesContent 	.pendienteDato span {font-weight:bold;display: block; margin-bottom:5px; /*height:50px;*/ overflow:hidden;		
}	