/* printWide.css  */
/* Modificador del print.css

/* =Containers
--------------------------------------------------------------------------------*/

.container_16{
	width: 1300px !Important;}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.container_16 .grid_16 {
	width: 1300px !Important;
}










































































		
.container_12,
.container_16 {width:100% !Important; background-color:#FFFFFF !Important;}
.container_16 .grid_16, 
.container_16 .grid_13 {background-color:#FFFFFF !Important;}
.container_16 .header1{
	width:1300px !Important; 
	top:18px !Important;
	display:block !Important; 
	background-color: #FFCC00 !Important; 
	position: absolute !Important;
	height:26px !Important;
	background-image:url(../images/print_fichaHeaderTitle_wide.jpg) !Important; 
	background-repeat:no-repeat !Important;
	background-position: 0 0 !Important; 
	z-index:1100 !Important;
	border-top: 4px #666666 solid !Important;
	left:0 !Important;
}
		
		h1.branding {/*background-image:url(../images/header_AgendaDeGobierno.png) !Important; background-repeat:no-repeat !Important; background-position: 10px 0 !Important;*/
		background:none !Important;}
		.fc-header-title {width:1285px !Important;  height:18px  !Important; float:right !Important;  display: block !Important; 				position:absolute !Important;
								top:-52px !Important; left: 0px !Important; 
								background-image:url(../images/solapa_headerPrint.png) !Important; 
								background-repeat:no-repeat  !Important; 
								background-position:left top  !Important;  
								
								color:#FFFFFF !Important; text-align:left !Important; 
								border: none !Important;
								font-size:12px !Important; padding-left:3px 0 0 15px !Important; 
								z-index:1300 !Important;}
								
		.fc-header-title h2{}		
		span.fc-header-title h2	{ font-size:12px !Important; padding:-1px 0 2px 8px !Important; margin-top:0 !Important;}
		
			.printTodayDate {width:335px !Important;  height:18px  !Important; float:left !Important;  
								display: block !Important; position:absolute !Important;
								top:-1px !Important; left: 950px !Important; 
								background-image:url(../images/solapa_headerPrint_date.png) !Important; 
								background-repeat:no-repeat  !Important; 
								background-position:left top  !Important;  
								
								color:#FFFFFF !Important; text-align:left !Important; 
								border: none !Important;
								font-size:12px !Important; padding:3px 0 0 15px !Important; 
								z-index:1400 !Important;}
		
		

.container_16 .colummAgenda{
	width:1100px !Important;
	top:52px !Important;
}
	
		
		
/*		COLUMNA PENDIENTES */
.container_16 .colummSidebar {
	width:140px !Important;
	left:1155px !Important;
	height:500px !Important;
	min-height:480px  !Important;
}

	   
		.subColumnsTriggerB {display: none !Important;}
		.pendienteBotones, .solapita{display:none !Important;}
	
		.pendientesContent{overflow: hidden !Important; width:140px !Important;
		height:480px !Important; background-color:#f1f1f1 !Important; 
		margin:10px 0 0 0 !Important;}
		
		.pendientesContent ul {width:140px !Important; height:500px !Important;}
	
		.pendientesContent ul li {width:140px !Important; float: none !Important; height: auto !Important; 
		border-bottom: 1px solid #CCCCCC !Important;}
		.pendientesContent ul li .pendienteDato  {width:140px !Important; text-align:left !Important; height:auto !Important; line-height:10px !Important; padding:0 !Important; margin: 0 0 0 5px !Important;}
		
	.pendientesContent .pendienteDato span {
	font-weight:normal !Important; display: block; 
	margin: 2px 4px !Important; /*height:55px;*/ overflow:hidden !Important; }		
		
		



/* COLUMNA DERECHA + TITULAR PENDIENTES */
		
		#subColumns #subColumnA, 
		#subColumns #subColumnB {top:0px !Important; 
		width:140px !Important; background-color:transparent !Important; 
		border:none !Important;}
		
		/*.grid_16{display:block !Important; position:absolute !Important; top:400px;}*/
		subColumnsTriggerA {
		background: transparent !Important; color:#FFFFFF !Important;  
		text-align:center !Important; 
		width:140px !Important; height:auto !Important; display:block !Important;}
		
		.subColumnsTriggerA a, 
		.subColumnsTriggerA a.current, 
		.subColumnsTriggerA a:visited { 
		width:140px !Important; 
		height:10px !Important; line-height:10px !Important; 
		text-decoration:none !Important; background: none !Important; 
		color:#FFFFFF !Important; margin:0 0 0 35px !Important; display:block !Important; 
		text-transform:uppercase !Important; font-size:10px !Important;}

		.subColumnsTriggerB a, 
		.subColumnsTriggerB a:visited {display:none !Important;}
		
		#subColumns { margin-top:0 !Important;}

		.amarillo .pendienteDato {color:#000000 !Important;}
		.verde1 .pendienteDato {color:#000000 !Important;}
		.verde1bis .pendienteDato {color:#000000 !Important;}    
		.verde2 .pendienteDato {color:#000000 !Important;}       
		.cyan .pendienteDato {color:#000000 !Important;}
		.rojo .pendienteDato {color: #000000 !Important;}
		.naranja .pendienteDato {color:#000000 !Important;}
		.naranjabis .pendienteDato {color:#000000 !Important;}
		.gris .pendienteDato {color:#000000 !Important;}
		.NoClass .pendienteDato {color:#000000 !Important;}		



/*  NEW -----------------------------------------------------*/

.fc-header-left {display: none !Important;}
.fc-header-right {display: none !Important;}
#filters {display: none !Important;}
.fc-view-month .fc-border-separate, table.fc-agenda-days { background-image:none !Important;}

/*th fc-mon, th fc-tue, th fc-wed, th fc-thu, th fc-fri, th fc-sat, th fc-sun*/ 
.fc-view-month .fc-widget-header   { background-color:#999999 !Important; color:#FFFFFF !Important; -moz-border-radius: 0 0 5px 5px !Important; border-radius:  0 0 5px 5px !Important; font-size:9px !Important;
text-align:center !Important; text-transform:uppercase !Important;}
.fc-view-month .fc-widget-header, 
.fc-view-month .fc-widget-content{width:14%;}

.fc-view-month .fc-event-time{/*display: none !Important;*/ background:none !Important; width:133px !Important;}

.fc-view-month .fc-event,
.fc-view-agendaWeek .fc-event{
border: none  !Important; width:133px !Important;}


.fc-view-agendaWeek .fc-widget-header, 
.fc-view-agendaWeek .fc-widget-content{width:14%; !Important;}

.fc-view-month .fc-event-time{/*display: none !Important;*/ background:none !Important; width:133px !Important;}



.rojo, .naranja, .naranjabis, .verde1, .verde1bis, .verde2, .verde2bis, .cyan { background:none !Important; background-color:none !Important;}
.fc-event-title {padding:0  !Important; /*	margin-top:-10px !Important;*/}

/* COLORES DE LOS EVENTOS */
	.rojo  .fc-event-time,
	.rojo  .fc-event-title,
	.rojo  .fc-event-text,

	.naranja  .fc-event-time, .naranjabis  .fc-event-time,
	.verde1  .fc-event-time, .verde1bis .fc-event-time,
	.verde2  .fc-event-time, .cyan .fc-event-time,
	.amarillo  .fc-event-time, .gris .fc-event-time,
	
	.naranja  .fc-event-title, .naranjabis  .fc-event-title,
	.verde1  .fc-event-title, .verde1bis .fc-event-title,
	.verde2  .fc-event-title, .cyan .fc-event-title,
	.amarillo  .fc-event-title, .gris .fc-event-title,

	.naranja  .fc-event-text, .naranjabis  .fc-event-text,
	.verde1  .fc-event-text, .verde1bis .fc-event-text,
	.verde2  .fc-event-text, .cyan .fc-event-text,
	.amarillo  .fc-event-text, .gris .fc-event-text,
	{color: #000000 !Important;}
	
	.evEfemeride, .evFeriado,
	.evEfemeride .fc-event-title, .evFeriado .fc-event-title	{ background:none !Important; -moz-border-radius: 0 !Important; border-radius: 0 0 0 0  !Important; color: #0066CC !Important;
	margin-top:0 !Important;}

	.evFeriadoPast, .evEfemeridePast, 
	.evFeriadoPast .fc-event-title, .evEfemeridePast .fc-event-title  { background:none !Important; -moz-border-radius: 0 !Important; border-radius: 0 0 0 0  !Important; color: #6F6F6F !Important;}
	
	
	

.ui-resizable-handle{display: none !Important;}

.pendientesContainer, #paragraphs {}

.fc-view-month .fc-widget-content { -moz-border-radius: 8px !Important; border-radius:  8px 8px 8px 8px !Important; margin:5px 0px 0px 5px !Important; 
}

/*.fc-view-month .fc-border-separate,*/ 
table.fc-agenda-days { background-color:#FFFFFF;}


.fc-border-separate th, .fc-border-separate td {border:solid 1px #ffffff !Important; }

fc-border-separate td, {
	border: 1px solid #ff0000 !Important;	
}

.fc-grid .fc-day-number{color:#FFFFFF !Important;  font-weight:bold !Important;  font-size:20px !Important; }

.fc-event-title {border:none !Important;}
.fc-event-text {display:none !Important;}
 .eventoContent {border:none !Important;}
.fc-corner-right .fc-event-inner, .fc-corner-left .fc-event-inner {border:none !Important;}

element{left:2px !Important;}

/*   DEFINICIONES DE COLOR  (EX-MENU HORIZONTAL)*/
.boxNavSolapas {
	left:1155px !Important;
}

.fc-agenda-slots td div {width: 1050px !Important;}



#pendientesContentPending {
	width:1130px !Important;	
}
div#pendientesContentPending.pendientesContent ul {
	width:1130px !Important;
	height:900px !Important;
}
div#pendientesContentPending.pendientesContent ul li.fc-event {
	width: 150px !important;
}
