#rightColumn { 
	width: 995px;
}
#wrapper { 
	width: 1200px;
}
#contentWrapper { 
	width: 1195px;
}
#header { 
	/*width: 1190px;*/
}
#footer {
	width: 1190px;
}
#rightColumn p {
	width: 900px;
}
#rightColumn fieldset p {
	width: 750px;
}
.wide-chz-select {
	min-width: 640px;
}
