@charset "UTF-8";
/* CSS Document */


/*  HEADER 1*/
	.container_16 .header1{
		width:1010px;
		background-image:url(../images/header1_bkg.png);
		background-repeat:repeat-x;
		background-position:top left;
		margin:0;
		padding:0;
	}
	
		/* branding
	----------------------------------------------- */
	h1#branding {
	width:559px;
	height:65px;
	background-image:url(../images/header1_bsas.png);
	background-repeat:no-repeat;
	float:left;
	margin:0;
	padding:0;
	}
	.slogan{
	width:146px;
	height:65px;
	background-image:url(../images/header1_slogan.png);
	background-repeat:no-repeat;
	float:right;
	margin:0;
	padding:0;}
	
	.eyefishContainer{
	width:159px;
	height:65px;
	background-image:url(../images/header1_eyefish.jpg);
	background-repeat:no-repeat;
	float:right;}



.container_16 .colummAgenda{
width:857px;
margin-right:0;
margin-left:17px;
}

.container_16 .colummSidebar{
width:118px;
min-height:389px;
border: solid 1px #666666;
border-left:none;
margin-right:17px;
margin-left:0;}

/* Navegacion Menu 1
---------------------------------------------------------------*/
	.boxNav1{
	height:24px;
	/*background-image: url(../images/header_menu1.png);
	background-repeat:no-repeat;*/
	background-color:#CCCCCC;}

	.boxNav1 ul {
	display:inline;}
	.boxNav1 ul li {
	float:left;
	display:block;
	padding: 3px 4px;}	

	.boxNav1 ul li.botSmall {
	padding:0;}
	.boxNav1 ul li.botSmall a {
	width:24px;
	height:24px;
	display:block;
	background-color:#009900;}



/*  Navegacion menu 2 (solapas colores)
---------------------------------------------------------------*/
	.boxNavSolapas{
	height:40px;
	background-repeat:no-repeat;}
	
		.boxNavSolapas ul{
		margin:0 auto 0 auto;}
		.boxNavSolapas ul li{
		display:inline;
		float:left;
		margin:0 3px 0 0;}
		.boxNavSolapas ul li a{
		min-width:60px;
		display:block;
		height:27px;
		cursor:pointer;
		white-space:nowrap;
		color:#000000;
		font-size:10px;
		line-height:25px;
		padding:0 10px 0 20px;
			   -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
    		border-radius: 0 0 5px 5px;
			behavior: url(css/ie-pie/PIE.htc);}	
				
				li.solTurismo a{ background-color:#FFCC00;}
				li.solVida a{background-color:#88d852;}
				li.solTransformando a{width:120px; background-color:#359e7d;}
				li.solCiudad a{ background-color:#3dbeff;}
				li.solAgenda a{background-color:#ff3929;}
				li.solSocial a{background-color:#ff9c0d;}	
				li.solOtros a{	background-color:#c0c0c0;}		
		.boxNavSolapas ul li a:hover{
		height:35px;
		line-height:33px;
		}
		.boxNavSolapas ul li a:active{
		color:#FFFFFF;
		background-color:#666666;
		height:35px;
		line-height:33px;
		}		
		
/* Indicador del mes */
	.boxNavMonth{
	width:25%;
	display:inline;
	float:left;
	background-color:#FFFF00;}

/* Boton FullScreen */
	.boxFullscreen{
	width:75%;
	float:left;
	display:inline;
	text-align:right;}


/*   AGENDA     --------------------------*/
	.boxAgendaContainer{
	width:100%;
	border:solid 1px #ff0000}
	
		#calendar {
		width: 857px;
		margin: 0 auto;
		}
		
		.scrollContainerAgenda{
		border-top:#FF0000;
		width:857px;
		height:420px;
		overflow:scroll;}
		
		/* ancho de los TD de días*/
		/* debe ser igual al de .fc-widget-header (en fullcalendar.js)*/
	
/*	FONDO GRIS   --------------*/
	.fc-view-month  .fc-border-separate, /*  vista MENSUAL */
	table.fc-agenda-days /* vistas dSEMANAL y DIARIAS */
	/*table.agendaBkgGris*/{
	background-color:#e7e7e7;
	background-image: url(../images/agenda_bkg-Gris.png);
	background-position: 0 0;
	background-repeat:no-repeat;}

/* ----------------------------------------*/ 
/* ----------------------------------------*/ 


/*   Complementos de fullcalendar.css  */
	
/* ----------------------------------------*/ 
/* ----------------------------------------*/ 
	.fc-header .fc-header-left{
	width:125px;
	padding:8px 0 0 8px;
	}
	.fc-header .fc-header-center{
/*	width:250px;*/
	padding:8px 0 8px 0;
	text-align:left;
	}
	.fc-header .fc-header-right{
	padding:8px 8px 0 0;
	}
	
	.fc-header-left,
	.fc-header-center{
	background-color:#fdbc08;
	background-image:url(../images/bkg_month.gif);
	background-repeat: repeat-x;
	background-position: top left;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	}
	
	.fc-button-content{
/*	width:110px;*/
	font-weight:bold;
	text-transform:capitalize;}
	
	.fc-header-right{
	background-color:#dfdfdf;
	background-image:url(../images/bkg_header-right.gif);
	background-repeat: repeat-x;
	background-position: top left;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	}
		
	.fc-header-title h2 {
	font-size:18px;
	}
	
	.fc-header-left	.fc-button{
/*	width:35px;*/}
	
	
	 /*   DETALLES DE CUADRO EVENTO -------------------------*/
/*	 .eventoContainer */
		.fc-event .fc-event-inner{
	 position:relative;}
	 	.eventoContent{
/*		width:115px;*/
		width:100%;
		height:auto;
		line-height:1em;
		padding:0 0 5px 0;
		
		zoom: 1;
		filter: alpha(opacity=90);
		opacity: 0.9;

		    -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
    		border-radius: 0 0 5px 5px;
			behavior: url(css/ie-pie/PIE.htc);		
	}
		/*
		.eventoFooter{
		width:115px;
		height:7px;
		display:block;
		background-image: url(../images/backgroundsH.png);
		background-repeat:repeat-x;
	
		    -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
    		border-radius: 0 0 5px 5px;
			behavior: url(css/ie-pie/PIE.htc);		
		/*  PIE BEHAVIOR en ie7.css, para que RADIUS CORNER funcione en ie6, IE7, IE8*/
	/*	}*/
	 
			 /* HORARIO*/
			 .fc-event-time{
			width:115px;
			/*width:100%;*/
				height:15px;
				padding:9px 0 0 0;
				display:block;
				background-image: url(../images/backgroundsH.png);
				background-repeat:repeat-x;
				color:#FFF;
				font-size:10px;
				font-weight:bold;
				clear:both;
				
		    -webkit-border-radius: 7px 0 0 0;
		    -moz-border-radius: 7px 0 0 0;
    		border-radius: 7px 0 0 0;
			behavior: url(css/ie-pie/PIE.htc);	
				/*  PIE BEHAVIOR en ie7.css, para que RADIUS CORNER funcione en ie6, IE7, IE8*/				
				}
			/* TITULO    */
			.fc-event-title{
			display:block;
			margin:0 2px 0 3px;
			padding:3px 0 0 0;
			color:#000;
			font-weight:bold;
			zoom: 1;
		filter: alpha(opacity=100);
		opacity: 1;}
			
			.fc-event-title	img{
			text-align:right;
			border: solid 1px #FFF;
			margin:3px 2px 2px 2px;
			-moz-border-radius: 3px;
			border-radius: 3px;
				/*  PIE BEHAVIOR en ie7.css, para que RADIUS CORNER funcione en ie6, IE7, IE8*/						
			}
			
			/*  TEXTO  */
			.fc-event-text{
			font-weight:normal;
			display:block;}
			
			/*  BOTONERA --------*/
			 ul.botoneraSmallEvento{
			position:absolute;
			top:0;
			right:0;
			/*background-color:#0033CC;*/}
			
				   ul.botoneraSmallEvento li{
					float:right;
					display:inline;
					margin-right:2px;
					}
					ul.botoneraSmallEvento li a{
					width:15px;
					height:15px;
					display:block;
					padding:0;
					background-image:url(../images/evento_sprite.png);
					background-repeat:no-repeat;
					}
					/**/
						ul.botoneraSmallEvento li.eventoBot01 a{
						background-position:-248px 0;
						}
						ul.botoneraSmallEvento li.eventoBot02 a{
						background-position:-232px 0;
						}
						

			/*   COLORES DE HEADERS, FOOTERS y BOTONERAS segun seccion 	*/
			.amarillo .fc-event-time {
			background-position:0 0;}
			.amarillo .eventoContent{
			background-color:#FFCC00;}
/*			.amarillo .eventoFooter {
			background-position:0 -120px;}*/
			.amarillo ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px 0;}
			.amarillo ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px 0;}
						
			.verde1 .fc-event-time {
			background-position:0 -18px;}
			.verde1 .eventoContent{
			background-color:#88d852;}
/*			.verde1 .eventoFooter {
			background-position:0 -137px;}*/
			.verde1 ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -17px;}
			.verde1 ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -17px;}

			.verde2 .fc-event-time {
			background-position:0 -34px;}
			.verde2 .eventoContent{
			background-color:#359e7d;}
	/*		.verde2 .eventoFooter {
			background-position:0 -154px;}*/
			.verde2 ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -34px;}
			.verde2 ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -34px;}
						
			.cyan .fc-event-time {
			background-position:0 -52px;}
			.cyan .eventoContent{
			background-color:#3dbeff;}
/*			.cyan .eventoFooter {
			background-position:0 -171px;}*/
			.cyan ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -51px;}
			.cyan ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -51px;}
						
			.rojo .fc-event-time {
			background-position:0 -68px;}
			.rojo .eventoContent{
			background-color:#ff3929;}
/*			.rojo .eventoFooter {
			background-position:0 -188px;}*/
			.rojo ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -68px;}
			.rojo ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -68px;}
						
			.naranja .fc-event-time {
			background-position:0 -86px;}
			.naranja .eventoContent{
			background-color:#ff9c0d;}
/*			.naranja .eventoFooter {
			background-position:0 -205px;}*/
			.naranja ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -85px;}
			.naranja ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -85px;}
						
			.gris .fc-event-time {
			background-position:0 -103px;}
			.gris .eventoContent{
			background-color:#c0c0c0;}
/*			.gris .eventoFooter {
			background-position:0 -222px;}*/
			.gris ul.botoneraSmallEvento li.eventoBot01 a{
			background-position:-248px -102px;}
			.gris ul.botoneraSmallEvento li.eventoBot02 a{
			background-position:-232px -102px;}
			
			amarillo:active, verde1:active, verde2:active, cyan:active, rojo:active, 
			naranja:active, gris:active {
			zoom: 1;
			filter: alpha(opacity=40);
			opacity: 0.4;}



/*   AGENDA SEMANAL  */
/* ----------------------------------------*/ 

	/* AGENDA MENSUAL - ancho de los dias de semana */
		.fc-agenda .fc-mon, 
		.fc-agenda .fc-tue, 
		.fc-agenda .fc-wed, 
		.fc-agenda	.fc-thu, 
		.fc-agenda .fc-fri, 
		.fc-agenda .fc-sat, 
		.fc-agenda .fc-sun {
		width:14.28%;
		}
		.fc-agenda .fc-agenda-axis {
		width: 50px;}		
		
		/*agenda semanal */
		.fc-agenda-days .fc-agenda-axis	{5%}
		
		.fc-agenda-days .fc-mon, 
		.fc-agenda-days .fc-tue, 
		.fc-agenda-days .fc-wed, 
		.fc-agenda-days	.fc-thu, 
		.fc-agenda-days .fc-fri, 
		.fc-agenda-days .fc-sat, 
		.fc-agenda-days .fc-sun  {
		width:13.6%;
		}
		.fc-agenda-days  .fc-agenda-slots  .fc-agenda-axis{
		width:5%;}
		.fc-agenda-days .fc-agenda-slots .fc-mon,
		.fc-agenda-days .fc-agenda-slots .fc-tue,
		.fc-agenda-days .fc-agenda-slots .fc-wed,
		.fc-agenda-days .fc-agenda-slots .fc-thu,
		.fc-agenda-days .fc-agenda-slots .fc-fri,
		.fc-agenda-days .fc-agenda-slots .fc-sat,
		.fc-agenda-days .fc-agenda-slots .fc-sun {
		width:13.6%;
		}
			
		.fc-agenda .fc-agenda-axis,
		.fc-agenda-days .fc-agenda-axis,		
		.fc-view-agendaDay  .fc-agenda-slots  .fc-agenda-axis,
		.fc-agenda-allday .fc-agenda-axis {
			color:#FFF;
			font-size:11px;
			font-weight:bold;
			background-image: url(../images/backgroundsH.png);
			background-repeat:repeat-x;
			background-position:0 -239px;
			background-color:#eeab02;
			padding:8px 4px 2px 2px;
			}
/*			fc-view-agendaDay .fc-agenda-axis{
			width: 50px;}
	*/	
		
		/* AGENDA DIARIA */		
		.fc-view-agendaDay .fc-today{/*height: 710px;*/ height:auto;}
		
		.fc-view-agendaDay  .fc-agenda-slots  .fc-agenda-axis{
		width:5%;}
		.fc-view-agendaDay .fc-agenda-days .fc-widget-content {
		width:95%;
		}
		
		/* Para ocultar la linea de DIA Y FECHA (que se vea doble, con la que ya está arriba )*/
		.fc-view-agendaDay .fc-agenda-days .fc-widget-header{
		display:none;}
		.fc-view-agendaDay .fc-agenda-days thead{
		display:none;}		
			
			/*.bkgAllday*/
/*			.fc-agenda-allday .fc-last{
			background-color: #999999;
			zoom: 1;
			filter: alpha(opacity=40);
			opacity: 0.4;}
	*/		
			.fc-agenda-allday .fc-last .fc-day-content,
			.fc-agenda-allday .fc-last .fc-day-content {
			background-color: #999999;
			zoom: 1;
			filter: alpha(opacity=40);
			opacity: 0.4;}
			
			
			.fc-widget-content {  /* <td>, usually */
			border: 1px solid #FF0000;
			}
						
			
/*   FIN Complementos de fullcalendar.css  */
/* ----------------------------------------*/ 


/* ----------------------------------------*/ 

/* DIVS DE DATOS DE EVENTO*/

/* ----------------------------------------*/ 
	.boxEvento{
	width:115px;
	position:relative;
	z-index:1;
	
	margin:0 0 0 200px;}
	
	/* EVENTO HEADER -------------------*/
	.boxEventoHeader{
	width:115px;
	height:15px;}
		
		.boxEvento .headerOrange{
		background-image: url(../images/evento_header_orange100.png);
		background-position: top left;
		background-repeat:no-repeat;
		}
		
	.boxEventoHeader{
	width:115px;
	height:15px;}
	
	/*  Horario  */
	.boxEventoHeader h2{  
	margin:0 0 0 5px;
	padding:3px 0 0 0;
	color:#FFF;
	font-weight:bold;
	font-size:9px;
	z-index:1000;}
	


	/* EVENTO CONTENT -------------------*/
	.boxEventoContent{
	width:115px;
	height:auto;
	line-height:1em;}

	.boxEventoContent h3{
	font-size:9px;
	line-height:9px;
	margin:0px 3px 0 5px;
	padding-top:2px;}	
	
	.boxEventoContent h3 img{
	text-align:right;
	border: solid 1px #FFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:0 2px 2px 2px;}
	
	.boxEventoContent p{
	font-size:9px;
	margin:0 3px 0 5px;}	
		
		.boxEvento .contentOrange{
		background-image: url(../images/boxEvento_bkg_orange100.png);
		background-position: bottom left;
		background-repeat:no-repeat;
		padding-bottom:7px;
		/*
	zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.4;*/
		}
		
		

	/*   FERIADO      */			
	.boxFeriado {
	background-color:#999999;
	/* transparencia */
	}
			
/*  PENDIENTES  */

	#solapaPendientes{
	width:100%;
	height:20px;
	margin-top:-25px;
	border-bottom:solid 4px #333333;
	position:relative}
	
		#solapaPendientes a{
		position:absolute;
		top:0px;
		left:35px;
		width:100px;
		color:#FFFFFF;
		padding:0 10px;
		height:25px;
		margin:0;
		display:block;
		background-color:#333333;
		text-decoration:none;
		text-align:center;
		text-transform:uppercase;
		line-height:25px;
		   -webkit-border-radius: 5px 5px 0 0;
		    -moz-border-radius: 5px 5px 0 0;
    		border-radius:5px 5px 0 0;
			behavior: url(css/ie-pie/PIE.htc);}
		#solapaPendientes a:hover{
		background-color:#333;
		height:29px;
		line-height:29px;
		top:-4px;}
		
		#solapaPendientes a:hover.pendientesContainer,
		#solapaPendientes a:active.pendientesContainer {
		visibility:visible;}
		

	.pendientesContainer{
	height:60px;
	display:block;
	visibility: hidden;
	padding-bottom:5px;
	background-color:#FFFFFF;
	border:solid 2px #999999;}
	
	.pendientesArrowLeft, .pendientesArrowRight{width:2.5%; float:left; }
	.pendientesArrowLeft a, .pendientesArrowRight a{
	width:100%; height:49px; display:block; padding:15px 0 0 0; text-align:center; 
	font-weight:bold; font-family:"Arial Ultra", "Arial Black", "Arial Bold", Helvetica, sans-serif; 
	font-size:15px;}
	.pendientesArrowLeft a:hover, .pendientesArrowRight a:hover{
	color:#ccc}
	.pendientesArrowLeft a:active, .pendientesArrowRight a:active{
	color:#666666;	}	
	
	.pendientesContent {width:95%; float:left; height:55px;}
	
		.pendientesContent ul{
		height:55px; margin:5px 0;}
			.pendientesContent ul li{
			width:19.9%;
			height:55px;float:left;
			border-right:solid 1px #999999;
			margin:0;}
			.pendientesContent ul li first{
			width:19.9%;
			height:40px;float:left;
			border-right:solid 1px #999999;
			margin:0 5px 0 5px;}		
		.solapitaVerde{ 
		width:15px;
		height:55px; 
		float:left; 
		margin:0 0 0 10px;
		background-color:#009900; 
		display:block;
		   -webkit-border-radius: 10px 0 0 10px;
				-moz-border-radius: 10px 0 0 10px;
				border-radius:10px 0 0 10px;
				behavior: url(css/ie-pie/PIE.htc);}
			
			.pendienteDato {width:65%;margin:0 0 0 7px; height:55px; float:left; }
			.pendienteDato span {font-weight:bold;}

			.pendienteBotones{
			float:left;
			width:15px; 
			margin:0 0 0 4px;}
			
			.pendienteBotones a.pendienteEditar,
			.pendienteBotones a.pendienteBorrar{
			width:15px;
			height:15px;
			display:block;
			padding:0;
			margin:0 0 5px 0;
			background-image:url(../images/evento_sprite.png);
			background-repeat:no-repeat;
			}
			.pendienteBotones a.pendienteEditar{
			background-position:-248px -102px;}
			.pendienteBotones a.pendienteBorrar{
			background-position:-232px -102px;}	
	
/*  COLUMNA DERECHA  */

			.textBuscador{
			width:70px;
			height:15px;
			border:solid 1px #999;
			float:left;
			font-size:10px;}
			.botBuscador{
			display:block;
			width:35px;
			height:15px;
			float:left;
					background-image:url(../images/evento_sprite.png);
			background-position:center;
			background-repeat:no-repeat;
			background-position:-248px -119px;
			background-color:#9d9d9d;}
			
			.colDerGrapfico{margin-top:10px; display:inline;}
			
			.colDerGrapfico a.solapa01{
			display:block;
			float:left; background-color:#e6c248;
			-webkit-border-radius: 5px 5px 0 0;
				-moz-border-radius:  5px 5px 0 0;
				border-radius: 5px 5px 0 0;
				behavior: url(css/ie-pie/PIE.htc);
				margin:0 3px 0 3px;
				padding:5px;
				font-size:9px;
				cursor:pointer;}
				
				
			.colDerGrapfico .solapa02{
			float:left; background-color:#fed652;
			-webkit-border-radius: 5px 5px 0 0;
				-moz-border-radius:  5px 5px 0 0;
				border-radius: 5px 5px 0 0;
				behavior: url(css/ie-pie/PIE.htc);
				margin:0 3px 0 0;
				padding:5px;
				font-size:9px;}
				
			#colDerGrafico01{
			border-top:solid 4px #e6c248;
			width:100%;}
			#colDerGrafico02{
			border-top:solid 4px #fed652;width:100%;}
				
	