svg.egytca.bargraph {
	background-color: black;
/*	border-color: gray;
	border-width: 2px;
	border-style: solid; */
	padding: 5px;
}
svg.egytca.bargraph text {
	fill: white;
}
svg.egytca.bargraph rect {
	stroke: #fff;
	stroke-width: 1px;
	fill: #fdd406;
}
svg.egytca.bargraph line.xstart-separator {
	stroke: grey;
}
